*{
    margin: 0px;
    padding: 0px;
}
.ui-layout-north{
    margin: 0px;
    padding: 0px;
    background: #1976D2;
}

.ui-layout-south{
    margin: 0px;
    padding: 0px;
}

.ui-layout-north .ui-layout-unit-content{
    margin: 0px;
    padding: 0px;
    background: #fff;
}

.ui-layout-south .ui-layout-unit-content{
    margin: 0px;
    padding: 0px;
}

.ui-fieldset{
    background: #1976D2;
    border: 2px solid #1976D2;
}

.ui-fieldset .ui-fieldset-legend{
    margin: 0px;
    padding: 0px;
    background: #1976D2;
    border: none;
    color: #1976D2;
    box-shadow: none !important;
    font-size: 14px;
    text-shadow: none !important;
}

.cabecalho{
    padding: 4px;
    margin: 5px;
    background: #1976D2;
    text-align: center;
    align-items: center;
    float: left;
}

.descricao_produto{
    font-size: 40px;
    font-weight: bold;
    font-family: sans-serif bold;
    color: #FFFFFF;
}

.rodape{
    position: fixed;
    bottom: 10px;
    width: 100%;
    height: 70px;
}

#boxTotalVenda{
    position: fixed;
    bottom: 90px;
    width: 100%;
    height: 40px;
}

.label_teclas_atalho{
    border: 1px solid gray;
    box-shadow: 1px 2px 3px gray;
    border-radius: 10px;
    padding: 5px;
    width: 20%;
    background: #1976D2;
}

.label_teclas_atalho_consulta_produto{
    border: 1px solid gray;
    box-shadow: 1px 2px 3px gray;
    border-radius: 10px;
    padding: 5px;
    width: 28%;
    background: #1976D2;
}

.label_teclas_atalho_pagamento{
    border: 1px solid gray;
    box-shadow: 1px 2px 3px gray;
    border-radius: 10px;
    padding: 5px;
    width: 28%;
    background: #1976D2;
}

.outputLabel_atalhos{
    width: 90%;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.label_teclas_atalho_desconto_acrescimo_item{
    border: 1px solid gray;
    box-shadow: 1px 2px 3px gray;
    border-radius: 10px;
    padding: 5px;
    width: 34%;
    background: #1976D2;
}

.label_teclas_atalho_finaliza_venda{
    border: 1px solid gray;
    box-shadow: 1px 2px 3px gray;
    border-radius: 10px;
    padding: 5px;
    width: 34%;
    background: #1976D2;
}

.calendar_bom_para .ui-inputfield  {  
    width: 90% !important;
}

.rodapeVenda{
    background: #1976D2; 
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 25px;
}

.ui-dialog.dialog-mobile{
    width: 100% !important;
    height: 100% !important;
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
    overflow-y: auto;
}

.ui-dialog.select-mobile{
    font-size:30px;
}

.coluna_operador_rodape{
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: white;
    padding: 5px;
    display: inline;
    float: left;
}

.coluna_numero_caixa_rodape{
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: white;
    padding: 5px;
    float: right;
}

.coluna_numero_caixa_rodape_mobile{
    font-family: Verdana, Geneva, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 5px;
    float: right;
}

.telacheia{
    height: 100vh;
    width: 100%;
    border: 1px solid black;
}

.botoes{
    border: 1px solid gray;
    box-shadow: 1px 2px 3px gray;
    border-radius: 5px;
    padding: 5px;
    margin: 0px;
    width: 20%;
    height: 40%;
    background: #1976D2;
    cursor: pointer;
}

.botoesMobile{
    border: 1px solid gray;
    box-shadow: 1px 2px 3px gray;
    border-radius: 5px;
    padding: 5px;
    margin: auto;
    height: 70%;
    background: #1976D2;
    cursor: pointer;
}

.espacado{
    margin-top: 20px;
}

.alinhaVerticalHorizontal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.alinhaHorizontal{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.boxInput{
    border: 1px solid #f2f2ff;
    padding:5px;
    padding-right:10px;
    padding-left:10px;
    border-radius: 5px;
    height: 40px;
    background-color: #f2f2ff;
    box-shadow: 1px 1px 1px 0px #b0b0b0;
    display: block;
}