<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pa="http://primefaces.org/barcelona"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <div class="ui-grid" style="display:flex;margin-top: 50px;">
        <div style="width:60px;display:flex;flex-direction: column;background-color: #5FADFF;">
            <div class="ui-g-12 ui-md-12 ui-lg-12 boxIndividualMenu" id="cadastrosIcon" onclick="openSubMenu('menuCadastroContent');selecionarElemento('cadastrosIcon');fechaRestante('menuCadastroContent')">
                <div style="width:60px;height:40px;display:flex;align-items:center;justify-content:center">
                    <p:graphicImage name="/images/icon/cadastro.png" width="25"/>
                </div>
                <span class="tooltiptext">Cadastro</span>
            </div>

            <div class="ui-g-12 ui-md-12 ui-lg-12 boxIndividualMenu" id="nfeIcon" onclick="openSubMenu('menuNfeContent');selecionarElemento('nfeIcon');fechaRestante('menuNfeContent')">
                <div style="width:60px;height:40px;display:flex;align-items:center;justify-content:center">
                    <p:graphicImage name="/images/icon/nfe.png" width="25"/>
                </div>
                <span class="tooltiptext">NFE</span>
            </div>

            <div class="ui-g-12 ui-md-12 ui-lg-12 boxIndividualMenu" id="nfceIcon" onclick="openSubMenu('menuNfceContent');selecionarElemento('nfceIcon');fechaRestante('menuNfceContent')">
                <div style="width:60px;height:40px;display:flex;align-items:center;justify-content:center">
                    <p:graphicImage name="/images/icon/nfce.png" width="25"/>
                </div>
                <span class="tooltiptext">NFCE</span>
            </div>

            <div class="ui-g-12 ui-md-12 ui-lg-12 boxIndividualMenu" id="cteIcon" onclick="openSubMenu('menuCteContent');selecionarElemento('cteIcon');fechaRestante('menuCteContent')">
                <div style="width:60px;height:40px;display:flex;align-items:center;justify-content:center">
                    <p:graphicImage name="/images/icon/cte.png" width="25"/>
                </div>
                <span class="tooltiptext">CTE</span>
            </div>    

            <div class="ui-g-12 ui-md-12 ui-lg-12 boxIndividualMenu" id="mdfeIcon" onclick="openSubMenu('menuMdfeContent');selecionarElemento('mdfeIcon');fechaRestante('menuMdfeContent')">
                <div style="width:60px;height:40px;display:flex;align-items:center;justify-content:center">
                    <p:graphicImage name="/images/icon/mdfe.png" width="25"/>
                </div>
                <span class="tooltiptext">MDFE</span>
            </div>

            <div class="ui-g-12 ui-md-12 ui-lg-12 boxIndividualMenu" id="entradafiscalIcon" onclick="openSubMenu('menuFiscalContent');selecionarElemento('entradafiscalIcon');fechaRestante('menuFiscalContent')">
                <div style="width:60px;height:40px;display:flex;align-items:center;justify-content:center">
                    <p:graphicImage name="/images/icon/entradafiscal.png" width="25"/>
                </div>
                <span class="tooltiptext">Entrada Fiscal</span>
            </div>

            <div class="ui-g-12 ui-md-12 ui-lg-12 boxIndividualMenu" id="financeiroIcon"  onclick="openSubMenu('menuFinanceiroContent');selecionarElemento('financeiroIcon');fechaRestante('menuFinanceiroContent')">
                <div style="width:60px;height:40px;display:flex;align-items:center;justify-content:center">
                    <p:graphicImage name="/images/icon/financeiro.png" width="25"/>
                </div>
                <span class="tooltiptext">Financeiro</span>
            </div>
            <div class="ui-g-12 ui-md-12 ui-lg-12 boxIndividualMenu" id="estoqueIcon" onclick="openSubMenu('menuEstoqueContent');selecionarElemento('estoqueIcon');fechaRestante('menuEstoqueContent')">
                <div style="width:60px;height:40px;display:flex;align-items:center;justify-content:center">
                    <p:graphicImage name="/images/icon/estoque.png" width="25"/>
                </div>
                <span class="tooltiptext">Estoque</span>
            </div>    

            <div class="ui-g-12 ui-md-12 ui-lg-12 boxIndividualMenu" id="relatoriosIcon" onclick="openSubMenu('menuRelatoriosContent');selecionarElemento('relatoriosIcon');fechaRestante('menuRelatoriosContent')">
                <div style="width:60px;height:40px;display:flex;align-items:center;justify-content:center">
                    <p:graphicImage name="/images/icon/relatorio.png" width="25"/>
                </div>
                <span class="tooltiptext">Relatórios</span>
            </div>

            <div class="ui-g-12 ui-md-12 ui-lg-12 boxIndividualMenu" id="painelcontadorIcon" onclick="openSubMenu('menuContadorContent');selecionarElemento('painelcontadorIcon');fechaRestante('menuContadorContent')">
                <div style="width:60px;height:40px;display:flex;align-items:center;justify-content:center">
                    <p:graphicImage name="/images/icon/painelcontador.png" width="25"/>
                </div>
                <span class="tooltiptext">Painel do Contador</span>
            </div>

            <div class="ui-g-12 ui-md-12 ui-lg-12 boxIndividualMenu" id="faqIcon">
                <div style="width:60px;height:40px;display:flex;align-items:center;justify-content:center">
                    <h:link outcome="/pages/privado/ead/faq.xhtml">
                        <p:graphicImage name="/images/icon/faq.png" width="25"/>
                    </h:link>
                </div>
                <span class="tooltiptext">FAQ - Perguntas Frequentes</span>
            </div>

            <div class="ui-g-12 ui-md-12 ui-lg-12 boxIndividualMenu" id="duvidasIcon">
                <div style="width:60px;height:40px;display:flex;align-items:center;justify-content:center">
                    <h:link outcome="/pages/privado/ead/sugestao.xhtml" style="width:100%;display:flex;justify-content: center;">
                        <p:graphicImage name="/images/icon/duvidas.png" width="25"/>
                    </h:link>
                </div>
                <span class="tooltiptext">Sugestões</span>
            </div>

            <div class="ui-g-12 ui-md-12 ui-lg-12 boxIndividualMenu" id="suporteIcon">
                <div style="width:60px;height:40px;display:flex;align-items:center;justify-content:center">
                    <a target="_blank" href="https://avanteweb.gfsis.com.br/gestaofacil/login/suporte/crud/Atendimento?ACAO=criar" style="text-decoration: none;width: max-content;color: white;">
                        <p:graphicImage name="/images/icon/suporte.png" width="25"/>
                    </a>
                </div>
                <span class="tooltiptext">Suporte</span>
            </div>
        </div>

        <!-- CADASTRO -->

        <div style="width: 250px;height: border-box;overflow-y: auto" id="menuCadastroContent" hidden="true">  
            <div class="ui-grid-row boxExterno">
                <div class="ui-g-12 ui-md-12 ui-lg-12 insideBoxExterno" id="produtoBox"
                     onclick="openSubMenu('produtoMenuContent');changeIcon('produtoIcon');changeBackground('produtoBox')">
                    <i class="fa fa-fw fa-caret-right layout-iconsmenu" id="produtoIcon"></i>PRODUTO
                </div>
                <div id="produtoMenuContent" style="width:border-box;height:max-content;" hidden="true">
                    <h:link outcome="/pages/privado/ead/cadastro/produto/produto.xhtml">
                        <div style="height: 50px;
                             width: border-box;
                             padding: 3px;
                             padding-left: 40px;
                             display: flex;
                             align-items: center;
                             color: #32b8ff;">
                            <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>
                            CADASTRO DE PRODUTO
                        </div>
                    </h:link>
                    <h:link outcome="/pages/privado/ead/cadastro/produto/secao.xhtml">
                        <div style="height: 50px;
                             width: border-box;
                             padding: 3px;
                             padding-left: 40px;
                             display: flex;
                             align-items: center;
                             color: #32b8ff;">
                            <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>
                            CADASTRO DE SEÇÃO
                        </div>
                    </h:link>
                    <h:link outcome="/pages/privado/ead/cadastro/produto/grupo.xhtml">
                        <div style="height: 50px;
                             width: border-box;
                             padding: 3px;
                             padding-left: 40px;
                             display: flex;
                             align-items: center;
                             color: #32b8ff;">
                            <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>
                            CADASTRO DE GRUPO
                        </div>
                    </h:link>
                    <h:link outcome="/pages/privado/ead/cadastro/produto/marca.xhtml">
                        <div style="height: 50px;
                             width: border-box;
                             padding: 3px;
                             padding-left: 40px;
                             display: flex;
                             align-items: center;
                             color: #32b8ff;">
                            <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>
                            CADASTRO DE MARCA
                        </div>
                    </h:link>
                    <h:link outcome="/pages/privado/ead/cadastro/produto/unidadeMedida.xhtml">
                        <div style="height: 50px;
                             width: border-box;
                             padding: 3px;
                             padding-left: 40px;
                             display: flex;
                             align-items: center;
                             color: #32b8ff;">
                            <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>
                            CADASTRO DE UNIDADE DE MEDIDA
                        </div>
                    </h:link>
                    <h:link outcome="/pages/privado/ead/cadastro/produto/produtoFornecedor.xhtml">
                        <div style="height: 50px;
                             width: border-box;
                             padding: 3px;
                             padding-left: 40px;
                             display: flex;
                             align-items: center;
                             color: #32B8FF;">
                            <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>
                            CADASTRO DE PRODUTO X FORNECEDOR
                        </div>
                    </h:link>
                    <h:link outcome="/pages/privado/ead/cadastro/produto/ncm.xhtml">
                        <div style="height: 50px;
                             width: border-box;
                             padding: 3px;
                             padding-left: 40px;
                             display: flex;
                             align-items: center;
                             color: #32b8ff;">
                            <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>
                            CONSULTA DE NCM
                        </div>
                    </h:link>
                    <h:link outcome="/pages/privado/ead/cadastro/produto/tabelaPreco.xhtml">
                        <div style="height: 50px;
                             width: border-box;
                             padding: 3px;
                             padding-left: 40px;
                             display: flex;
                             align-items: center;
                             color: #32b8ff;">
                            <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>
                            CADASTRO TAB. DE PREÇO DO PRODUTO
                        </div>
                    </h:link>
                    <h:link outcome="/pages/privado/ead/cadastro/produto/manutencao.xhtml">
                        <div style="height: 50px;
                             width: border-box;
                             padding: 3px;
                             padding-left: 40px;
                             display: flex;
                             align-items: center;
                             color: #32b8ff;">
                            <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>
                            MANUTENÇÃO DE PRODUTO
                        </div>
                    </h:link>
                    <h:link outcome="/pages/privado/ead/cadastro/produto/desmembramento.xhtml">
                        <div style="height: 50px;
                             width: border-box;
                             padding: 3px;
                             padding-left: 40px;
                             display: flex;
                             align-items: center;
                             color: #32b8ff;">
                            <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>
                            DESMEMBRAMENTO DE PRODUTO
                        </div>
                    </h:link>
                    <h:link outcome="/pages/privado/ead/cadastro/produto/combokit.xhtml">
                        <div style="height: 50px;
                             width: border-box;
                             padding: 3px;
                             padding-left: 40px;
                             display: flex;
                             align-items: center;
                             color: #32b8ff;">
                            <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>
                            CADASTRO DE COMBO/KIT
                        </div>
                    </h:link>
                </div>
            </div>
            <div class="ui-grid-row boxExterno">
                <div class="ui-g-12 ui-md-12 ui-lg-12 insideBoxExterno" id="participanteBox"
                     onclick="openSubMenu('participanteMenuContent');changeIcon('participanteIcon');changeBackground('participanteBox')">
                    <i class="fa fa-fw fa-caret-right layout-iconsmenu" id="participanteIcon"></i>PARTICIPANTE
                </div>
                <div id="participanteMenuContent" style="width: border-box;height:max-content;border:1px solid white;" hidden="true">
                    <h:link outcome="/pages/privado/ead/cadastro/participante/participante.xhtml" >
                        <div style="height: 50px;
                             width: border-box;
                             padding: 3px;
                             padding-left: 40px;
                             display: flex;
                             align-items: center;
                             color: #32b8ff;">
                            <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>
                            CADASTRO DE PARTICIPANTE
                        </div>
                    </h:link>
                    <h:link outcome="/pages/privado/ead/cadastro/participante/cargos.xhtml" >
                        <div style="height: 50px;
                             width: border-box;
                             padding: 3px;
                             padding-left: 40px;
                             display: flex;
                             align-items: center;
                             color: #32b8ff;">
                            <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>
                            CADASTRO DE CARGOS
                        </div>
                    </h:link>
                    <h:link outcome="/pages/privado/ead/cadastro/participante/cidade.xhtml" >
                        <div style="height: 50px;
                             width: border-box;
                             padding: 3px;
                             padding-left: 40px;
                             display: flex;
                             align-items: center;
                             color: #32b8ff;">
                            <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>
                            CONSULTA DE CIDADE
                        </div>
                    </h:link>
                </div>
            </div>
            <div class="ui-grid-row boxExterno">
                <div class="ui-g-12 ui-md-12 ui-lg-12 insideBoxExterno" id="fiscalBox"
                     onclick="openSubMenu('fiscalMenuContent');changeIcon('fiscalIcon');changeBackground('fiscalBox')">
                    <i class="fa fa-fw fa-caret-right layout-iconsmenu" id="fiscalIcon"></i>FISCAL
                </div>
                <div id="fiscalMenuContent" style="width:border-box;height:max-content;border:1px solid white;" hidden="true">
                    <h:link outcome="/pages/privado/ead/cadastro/fiscal/cfop.xhtml" >
                        <div style="height: 50px;
                             width: border-box;
                             padding: 3px;
                             padding-left: 40px;
                             display: flex;
                             align-items: center;
                             color: #32b8ff;">
                            <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>
                            CADASTRO DE CFOP
                        </div>
                    </h:link>
                    <h:link outcome="/pages/privado/ead/cadastro/fiscal/csticms.xhtml" >
                        <div style="height: 50px;
                             width: border-box;
                             padding: 3px;
                             padding-left: 40px;
                             display: flex;
                             align-items: center;
                             color: #32b8ff;">
                            <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>
                            CADASTRO DE CST/ICMS
                        </div>
                    </h:link>
                    <h:link outcome="/pages/privado/ead/cadastro/fiscal/naturezaoperacao.xhtml" >
                        <div style="height: 50px;
                             width: border-box;
                             padding: 3px;
                             padding-left: 40px;
                             display: flex;
                             align-items: center;
                             color: #32b8ff;">
                            <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>
                            CADASTRO DE NATUREZA DA OPERAÇÃO
                        </div>
                    </h:link>
                    <h:link outcome="/pages/privado/ead/cadastro/fiscal/infocomplementares.xhtml" >
                        <div style="height: 50px;
                             width: border-box;
                             padding: 3px;
                             padding-left: 40px;
                             display: flex;
                             align-items: center;
                             color: #32b8ff;">
                            <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>
                            CADASTRO DE INFORMAÇÕES COMPLEMENTARES
                        </div>
                    </h:link>
                </div>
            </div>

            <div class="ui-grid-row boxExterno">
                <h:link outcome="/pages/privado/ead/cadastro/caixaVenda/caixaVenda.xhtml">
                    <div class="ui-g-12 ui-md-12 ui-lg-12 insideBoxExterno" id="caixavendaBox">
                        <i class="fa fa-fw fa-caret-right layout-iconsmenu" id="caixavendaIcon"></i>CAIXA DE VENDA
                    </div>
                </h:link>
            </div>

            <div class="ui-grid-row boxExterno">
                <div class="ui-g-12 ui-md-12 ui-lg-12 insideBoxExterno" id="usuarioBox"
                     onclick="openSubMenu('usuarioMenuContent');changeIcon('usuarioIcon');changeBackground('usuarioBox')">
                    <i class="fa fa-fw fa-caret-right layout-iconsmenu" id="usuarioIcon"></i>USUÁRIO
                </div>
                <div id="usuarioMenuContent" style="width: border-box;height:max-content;border:1px solid white;" hidden="true">
                    <h:link outcome="/pages/privado/ead/cadastro/usuario/usuario.xhtml" >
                        <div style="height: 50px;
                             width: border-box;
                             padding: 3px;
                             padding-left: 40px;
                             display: flex;
                             align-items: center;
                             color: #32b8ff;">
                            <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>
                            CADASTRO DE USUÁRIO
                        </div>
                    </h:link>
                    <h:link outcome="/pages/privado/ead/cadastro/usuario/grupoUsuario.xhtml">
                        <div style="height: 50px;
                             width: border-box;
                             padding: 3px;
                             padding-left: 40px;
                             display: flex;
                             align-items: center;
                             color: #32b8ff;">
                            <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>
                            CADASTRO DE GRUPO
                        </div>
                    </h:link>
                </div>
            </div>
            <div class="ui-grid-row boxExterno">
                <div class="ui-g-12 ui-md-12 ui-lg-12 insideBoxExterno" id="veiculoBox"
                     onclick="openSubMenu('veiculoMenuContent');changeIcon('veiculoIcon');changeBackground('veiculoBox')">
                    <i class="fa fa-fw fa-caret-right layout-iconsmenu" id="veiculoIcon"></i>VEÍCULO
                </div>
                <div id="veiculoMenuContent" style="width: border-box;height:max-content;border:1px solid white;" hidden="true">
                    <h:link outcome="/pages/privado/ead/cadastro/veiculo/veiculo.xhtml">
                        <div style="height: 50px;
                             width: border-box;
                             padding: 3px;
                             padding-left: 40px;
                             display: flex;
                             align-items: center;
                             color: #32b8ff;">
                            <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>
                            CADASTRO DE VEÍCULO
                        </div>
                    </h:link>
                    <h:link outcome="/pages/privado/ead/cadastro/veiculo/veiculoCliente.xhtml">
                        <div style="height: 50px;
                             width: border-box;
                             padding: 3px;
                             padding-left: 40px;
                             display: flex;
                             align-items: center;
                             color: #32b8ff;">
                            <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>
                            CADASTRO DE VEÍCULOS X CLIENTES
                        </div>
                    </h:link>
                </div>
            </div>
            <h:link outcome="/pages/privado/ead/cadastro/cadastroOrdemServico.xhtml">
                <div class="ui-grid-row boxExterno">
                    <div class="ui-g-12 ui-md-12 ui-lg-12 insideBoxExterno">
                        <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>ORDEM DE SERVIÇO
                    </div>
                </div>
            </h:link>
            <h:link outcome="/pages/privado/ead/cadastro/cadastroProducao.xhtml">
                <div class="ui-grid-row boxExterno">
                    <div class="ui-g-12 ui-md-12 ui-lg-12 insideBoxExterno">
                        <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>PRODUÇÃO
                    </div>
                </div>
            </h:link>
            <h:link outcome="/pages/privado/ead/cadastro/configuracoesGerais.xhtml">
                <div class="ui-grid-row boxExterno">
                    <div class="ui-g-12 ui-md-12 ui-lg-12 insideBoxExterno">
                        <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>CONFIGURAÇÕES GERAIS
                    </div>
                </div>
            </h:link>
            <h:link outcome="/pages/privado/ead/cadastro/configuracoesIniciais.xhtml">
                <div class="ui-grid-row boxExterno">
                    <div class="ui-g-12 ui-md-12 ui-lg-12 insideBoxExterno">
                        <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>CONFIGURAÇÕES INICIAIS
                    </div>
                </div>
            </h:link>
        </div>

        <!-- NFE -->

        <div style="width: 250px;height: border-box;overflow-y: auto" id="menuNfeContent" hidden="true">  
            <h:link outcome="/pages/privado/ead/nfe/emissaoNfe.xhtml">
                <div class="ui-grid-row boxExterno">
                    <div class="ui-g-12 ui-md-12 ui-lg-12 insideBoxExterno">
                        <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>EMISSÃO DE NF-e
                    </div>
                </div>
            </h:link>
            <h:link outcome="/pages/privado/ead/nfe/cartaCorrecaoNfe.xhtml">
                <div class="ui-grid-row boxExterno">
                    <div class="ui-g-12 ui-md-12 ui-lg-12 insideBoxExterno" id="produtoBox">
                        <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>CARTA DE CORREÇÃO ELETRÔNICA
                    </div>
                </div>
            </h:link>
            <h:link outcome="/pages/privado/ead/nfe/importacaoNfe.xhtml">
                <div class="ui-grid-row boxExterno">
                    <div class="ui-g-12 ui-md-12 ui-lg-12 insideBoxExterno">
                        <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>IMPORTAÇÃO DE NF-e
                    </div>
                </div>
            </h:link>
            <h:link outcome="/pages/privado/ead/nfe/inutilizacaoNfe.xhtml">
                <div class="ui-grid-row boxExterno">
                    <div class="ui-g-12 ui-md-12 ui-lg-12 insideBoxExterno">
                        <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>INUTILIZAÇÃO DE NF-e
                    </div>
                </div>
            </h:link>
            <div class="ui-grid-row boxExterno">
                <div class="ui-g-12 ui-md-12 ui-lg-12 insideBoxExterno" id="duplicataBox"
                     onclick="openSubMenu('duplicataMenuContent');changeIcon('duplicataIcon');changeBackground('duplicataBox')">
                    <i class="fa fa-fw fa-caret-right layout-iconsmenu" id="duplicataIcon"></i>DUPLICATAS
                </div>
            </div>
            <div class="ui-grid-row boxExterno">
                <div id="duplicataMenuContent" style="width: border-box;height:max-content;border:1px solid white;" hidden="true">
                    <h:link outcome="/pages/privado/ead/nfe/duplicata/gerarDuplicata.xhtml">
                        <div style="height: 50px;
                             width: border-box;
                             padding: 3px;
                             padding-left: 40px;
                             display: flex;
                             align-items: center;
                             color: #32b8ff;">
                            <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>
                            GERAR DUPLICATA
                        </div>
                    </h:link>
                </div>
            </div>
            <h:link outcome="/pages/privado/ead/nfe/gerarNfePorEntrada.xhtml">
                <div class="ui-grid-row boxExterno">
                    <div class="ui-g-12 ui-md-12 ui-lg-12 insideBoxExterno">
                        <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>GERAR NF-e POR NOTA DE ENTRADA
                    </div>
                </div>
            </h:link>
            <h:link outcome="/pages/privado/ead/nfe/pedidoVenda.xhtml">
                <div class="ui-grid-row boxExterno">
                    <div class="ui-g-12 ui-md-12 ui-lg-12 insideBoxExterno">
                        <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>PEDIDO DE VENDA
                    </div>
                </div>
            </h:link>
            <h:link outcome="/pages/privado/ead/nfe/entradaNfe.xhtml">
                <div class="ui-grid-row boxExterno">
                    <div class="ui-g-12 ui-md-12 ui-lg-12 insideBoxExterno">
                        <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>ENTRADA DE NOTA FISCAL
                    </div>
                </div>
            </h:link>
            <h:link outcome="/pages/privado/ead/nfe/notasRecebidas.xhtml">
                <div class="ui-grid-row boxExterno">
                    <div class="ui-g-12 ui-md-12 ui-lg-12 insideBoxExterno">
                        <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>NOTAS RECEBIDAS
                    </div>
                </div>
            </h:link>
        </div>

        <!-- NFCE -->

        <div style="width: 250px;height: border-box;overflow-y: auto" id="menuNfceContent" hidden="true">  
            <div class="ui-grid-row boxExterno">
                <div class="ui-g-12 ui-md-12 ui-lg-12 insideBoxExterno" id="caixaBox"
                     onclick="openSubMenu('caixaMenuContent');changeIcon('caixaIcon');changeBackground('caixaBox')">
                    <i class="fa fa-fw fa-caret-right layout-iconsmenu" id="caixaIcon"></i>CAIXA
                </div>
            </div>
            <div class="ui-grid-row boxExterno">
                <div id="caixaMenuContent" style="width: border-box;height:max-content;border:1px solid white;" hidden="true">
                    <h:link outcome="/pages/privado/ead/nfce/caixa/aberturaCaixa.xhtml">
                        <div style="height: 50px;
                             width: border-box;
                             padding: 3px;
                             padding-left: 40px;
                             display: flex;
                             align-items: center;
                             color: #32b8ff;">
                            <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>
                            ABERTURA DE CAIXA
                        </div>
                    </h:link>
                    <h:link outcome="/pages/privado/ead/nfce/caixa/fechamentoCaixa.xhtml">
                        <div style="height: 50px;
                             width: border-box;
                             padding: 3px;
                             padding-left: 40px;
                             display: flex;
                             align-items: center;
                             color: #32b8ff;">
                            <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>
                            FECHAMENTO DE CAIXA
                        </div>
                    </h:link>
                    <h:link outcome="/pages/privado/ead/nfce/caixa/suprimentoSangria.xhtml">
                        <div style="height: 50px;
                             width: border-box;
                             padding: 3px;
                             padding-left: 40px;
                             display: flex;
                             align-items: center;
                             color: #32b8ff;">
                            <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>
                            SUPRIMENTO/SANGRIA
                        </div>
                    </h:link>
                    <h:link outcome="/pages/privado/ead/nfce/caixa/vendasHorario.xhtml">
                        <div style="height: 50px;
                             width: border-box;
                             padding: 3px;
                             padding-left: 40px;
                             display: flex;
                             align-items: center;
                             color: #32b8ff;">
                            <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>
                            VENDAS POR HORÁRIO
                        </div>
                    </h:link>
                </div>
            </div>
            <div class="ui-grid-row boxExterno">
                <div class="ui-g-12 ui-md-12 ui-lg-12 insideBoxExterno" id="vendaBox"
                     onclick="openSubMenu('vendaMenuContent');changeIcon('vendaIcon');changeBackground('vendaBox')">
                    <i class="fa fa-fw fa-caret-right layout-iconsmenu" id="vendaIcon"></i>VENDAS
                </div>
            </div>
            <div class="ui-grid-row boxExterno">
                <div id="vendaMenuContent" style="width: border-box;height:max-content;border:1px solid white;" hidden="true">
                    <h:link outcome="/pages/privado/ead/nfce/vendas/realizarVenda.xhtml">
                        <div style="height: 50px;
                             width: border-box;
                             padding: 3px;
                             padding-left: 40px;
                             display: flex;
                             align-items: center;
                             color: #32b8ff;">
                            <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>
                            REALIZAR VENDAS
                        </div>
                    </h:link>
                    <h:link outcome="/pages/privado/ead/nfce/vendas/consultarVendas.xhtml">
                        <div style="height: 50px;
                             width: border-box;
                             padding: 3px;
                             padding-left: 40px;
                             display: flex;
                             align-items: center;
                             color: #32b8ff;">
                            <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>
                            CONSULTAR VENDAS
                        </div>
                    </h:link>
                    <h:link outcome="/pages/privado/ead/nfce/vendas/envioContingencia.xhtml">
                        <div style="height: 50px;
                             width: border-box;
                             padding: 3px;
                             padding-left: 40px;
                             display: flex;
                             align-items: center;
                             color: #32b8ff;">
                            <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>
                            ENVIO DE CONTINGÊNCIA
                        </div>
                    </h:link>
                    <h:link outcome="/pages/privado/ead/nfce/vendas/inutilizacaoVenda.xhtml">
                        <div style="height: 50px;
                             width: border-box;
                             padding: 3px;
                             padding-left: 40px;
                             display: flex;
                             align-items: center;
                             color: #32b8ff;">
                            <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>
                            INUTILIZAÇÃO DE VENDAS
                        </div>
                    </h:link>
                </div>
            </div>
        </div>

        <!-- FISCAL -->

        <div style="width: 250px;height: border-box;overflow-y: auto" id="menuFiscalContent" hidden="true">  
            <div class="ui-grid-row boxExterno">
                <div class="ui-g-12 ui-md-12 ui-lg-12 insideBoxExterno" id="lancamentosBox"
                     onclick="openSubMenu('lancamentosMenuContent');changeIcon('lancamentosIcon');changeBackground('lancamentosBox')">
                    <i class="fa fa-fw fa-caret-right layout-iconsmenu" id="lancamentosIcon"></i>LANÇAMENTOS
                </div>
            </div>
            <div class="ui-grid-row boxExterno">
                <div id="lancamentosMenuContent" style="width: border-box;height:max-content;border:1px solid white;" hidden="true">
                    <h:link outcome="/pages/privado/ead/fiscal/transporte.xhtml">
                        <div style="height: 50px;
                             width: border-box;
                             padding: 3px;
                             padding-left: 40px;
                             display: flex;
                             align-items: center;
                             color: #32b8ff;">
                            <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>
                            TRANSPORTE
                        </div>
                    </h:link>
                    <h:link outcome="/pages/privado/ead/fiscal/agualuzgas.xhtml">
                        <div style="height: 50px;
                             width: border-box;
                             padding: 3px;
                             padding-left: 40px;
                             display: flex;
                             align-items: center;
                             color: #32b8ff;">
                            <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>
                            ÁGUA, LUZ E GÁS
                        </div>
                    </h:link>
                    <h:link outcome="/pages/privado/ead/fiscal/comunicacaotelecomunicacao.xhtml">
                        <div style="height: 50px;
                             width: border-box;
                             padding: 3px;
                             padding-left: 40px;
                             display: flex;
                             align-items: center;
                             color: #32b8ff;">
                            <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>
                            COMUNICAÇÃO E TELECOMUNICAÇÃO
                        </div>
                    </h:link>
                    <h:link outcome="/pages/privado/ead/fiscal/notaseried.xhtml">
                        <div style="height: 50px;
                             width: border-box;
                             padding: 3px;
                             padding-left: 40px;
                             display: flex;
                             align-items: center;
                             color: #32b8ff;">
                            <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>
                            NOTA SÉRIE D
                        </div>
                    </h:link>
                    <h:link outcome="/pages/privado/ead/fiscal/geracaoSintegra.xhtml">
                        <div style="height: 50px;
                             width: border-box;
                             padding: 3px;
                             padding-left: 40px;
                             display: flex;
                             align-items: center;
                             color: #32b8ff;">
                            <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>
                            GERAÇÃO DE ARQUIVO SINTEGRA
                        </div>
                    </h:link>
                </div>
            </div>
        </div>

        <!-- ESTOQUE -->

        <div style="width: 250px;height: border-box;overflow-y: auto" id="menuEstoqueContent" hidden="true">  
            <h:link outcome="/pages/privado/ead/estoque/entrada.xhtml">
                <div class="ui-grid-row boxExterno">
                    <div class="ui-g-12 ui-md-12 ui-lg-12 insideBoxExterno">
                        <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>ENTRADAS
                    </div>
                </div>
            </h:link>
            <h:link outcome="/pages/privado/ead/estoque/entradasesaidas.xhtml">
                <div class="ui-grid-row boxExterno">
                    <div class="ui-g-12 ui-md-12 ui-lg-12 insideBoxExterno">
                        <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>ENTRADAS E SAÍDAS
                    </div>
                </div>
            </h:link>
            <h:link outcome="/pages/privado/ead/estoque/entradasesaidasdet.xhtml">
                <div class="ui-grid-row boxExterno">
                    <div class="ui-g-12 ui-md-12 ui-lg-12 insideBoxExterno">
                        <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>ENTRADAS E SAÍDAS DETALHADO
                    </div>
                </div>
            </h:link>
            <h:link outcome="/pages/privado/ead/estoque/estoqueSintetico.xhtml">
                <div class="ui-grid-row boxExterno">
                    <div class="ui-g-12 ui-md-12 ui-lg-12 insideBoxExterno">
                        <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>ESTOQUE SINTÉTICO
                    </div>
                </div>
            </h:link>
            <h:link outcome="/pages/privado/ead/estoque/quantidadeEstoque.xhtml">
                <div class="ui-grid-row boxExterno">
                    <div class="ui-g-12 ui-md-12 ui-lg-12 insideBoxExterno">
                        <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>QUANTIDADE EM ESTOQUE
                    </div>
                </div>
            </h:link>
            <h:link outcome="/pages/privado/ead/estoque/curvaAbc.xhtml">
                <div class="ui-grid-row boxExterno">
                    <div class="ui-g-12 ui-md-12 ui-lg-12 insideBoxExterno">
                        <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>CURVA ABC
                    </div>
                </div>
            </h:link>
            <h:link outcome="/pages/privado/ead/estoque/giroMercadorias.xhtml">
                <div class="ui-grid-row boxExterno">
                    <div class="ui-g-12 ui-md-12 ui-lg-12 insideBoxExterno">
                        <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>GIRO DE MERCADORIAS
                    </div>
                </div>
            </h:link>    
            <h:link outcome="/pages/privado/ead/estoque/posicaoEstoque.xhtml">
                <div class="ui-grid-row boxExterno">
                    <div class="ui-g-12 ui-md-12 ui-lg-12 insideBoxExterno">
                        <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>POSIÇÃO ATUAL DO ESTOQUE
                    </div>
                </div>
            </h:link>
            <h:link outcome="/pages/privado/ead/estoque/lucroEstoque.xhtml">
                <div class="ui-grid-row boxExterno">
                    <div class="ui-g-12 ui-md-12 ui-lg-12 insideBoxExterno">
                        <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>LUCRO DE ESTOQUE
                    </div>
                </div>
            </h:link>
            <h:link outcome="/pages/privado/ead/estoque/estoqueminmax.xhtml">
                <div class="ui-grid-row boxExterno">
                    <div class="ui-g-12 ui-md-12 ui-lg-12 insideBoxExterno">
                        <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>ESTOQUE MÍNIMO/MÁXIMO
                    </div>
                </div>
            </h:link>
            <h:link outcome="/pages/privado/ead/estoque/estoqueInicial.xhtml">
                <div class="ui-grid-row boxExterno">
                    <div class="ui-g-12 ui-md-12 ui-lg-12 insideBoxExterno">
                        <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>LANÇAR ESTOQUE INICIAL
                    </div>
                </div>
            </h:link>
        </div>

        <!-- RELATÓRIOS -->

        <div style="width: 250px;height: border-box;overflow-y: auto" id="menuRelatoriosContent" hidden="true">  
            <div class="ui-grid-row boxExterno">
                <div class="ui-g-12 ui-md-12 ui-lg-12 insideBoxExterno" id="notasFiscaisSaidaBox"
                     onclick="openSubMenu('notasFiscaisSaidaMenuContent');changeIcon('notasFiscaisSaidaIcon');changeBackground('notasFiscaisSaidaBox')">
                    <i class="fa fa-fw fa-caret-right layout-iconsmenu" id="notasFiscaisSaidaIcon"></i>NOTAS FISCAIS DE SAÍDA
                </div>
            </div>
            <div class="ui-grid-row boxExterno">
                <div id="notasFiscaisSaidaMenuContent" style="width: border-box;height:max-content;border:1px solid white;" hidden="true">
                    <h:link outcome="/pages/privado/ead/relatorios/saida/resumoNotas.xhtml">
                        <div style="height: 50px;
                             width: border-box;
                             padding: 3px;
                             padding-left: 40px;
                             display: flex;
                             align-items: center;
                             color: #32b8ff;">
                            <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>
                            RESUMO DE NOTAS FISCAIS
                        </div>
                    </h:link>
                    <h:link outcome="/pages/privado/ead/relatorios/saida/notasFiscais.xhtml">
                        <div style="height: 50px;
                             width: border-box;
                             padding: 3px;
                             padding-left: 40px;
                             display: flex;
                             align-items: center;
                             color: #32b8ff;">
                            <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>
                            NOTAS FISCAIS ELETRÔNICAS
                        </div>
                    </h:link>
                    <h:link outcome="/pages/privado/ead/relatorios/saida/notasFiscaisDetalhado.xhtml">
                        <div style="height: 50px;
                             width: border-box;
                             padding: 3px;
                             padding-left: 40px;
                             display: flex;
                             align-items: center;
                             color: #32b8ff;">
                            <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>
                            NOTAS FISCAIS ELETRÔNICAS DETALHADO
                        </div>
                    </h:link>
                </div>
            </div>
            <div class="ui-grid-row boxExterno">
                <div class="ui-g-12 ui-md-12 ui-lg-12 insideBoxExterno" id="notasFiscaisConsumidorBox"
                     onclick="openSubMenu('notasFiscaisConsumidorMenuContent');changeIcon('notasFiscaisConsumidorIcon');changeBackground('notasFiscaisConsumidorBox')">
                    <i class="fa fa-fw fa-caret-right layout-iconsmenu" id="notasFiscaisConsumidorIcon"></i>NOTAS FISCAIS DO CONSUMIDOR
                </div>
            </div>
            <div class="ui-grid-row boxExterno">
                <div id="notasFiscaisConsumidorMenuContent" style="width: border-box;height:max-content;border:1px solid white;" hidden="true">
                    <h:link outcome="/pages/privado/ead/relatorios/nfce/resumoNotas.xhtml">
                        <div style="height: 50px;
                             width: border-box;
                             padding: 3px;
                             padding-left: 40px;
                             display: flex;
                             align-items: center;
                             color: #32b8ff;">
                            <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>
                            RESUMO DE NOTA FISCAL DO CONSUMIDOR
                        </div>
                    </h:link>
                    <h:link outcome="/pages/privado/ead/relatorios/nfce/notasFiscais.xhtml">
                        <div style="height: 50px;
                             width: border-box;
                             padding: 3px;
                             padding-left: 40px;
                             display: flex;
                             align-items: center;
                             color: #32b8ff;">
                            <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>
                            NOTAS FISCAIS DO CONSUMIDOR
                        </div>
                    </h:link>
                    <h:link outcome="/pages/privado/ead/relatorios/nfce/notasFiscaisDetalhado.xhtml">
                        <div style="height: 50px;
                             width: border-box;
                             padding: 3px;
                             padding-left: 40px;
                             display: flex;
                             align-items: center;
                             color: #32b8ff;">
                            <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>
                            NOTAS FISCAIS DO CONSUMIDOR DETALHADO
                        </div>
                    </h:link>
                </div>
            </div>
            <div class="ui-grid-row boxExterno">
                <div class="ui-g-12 ui-md-12 ui-lg-12 insideBoxExterno" id="notasFiscaisEntradaBox"
                     onclick="openSubMenu('notasFiscaisEntradaMenuContent');changeIcon('notasFiscaisEntradaIcon');changeBackground('notasFiscaisConsumidorBox')">
                    <i class="fa fa-fw fa-caret-right layout-iconsmenu" id="notasFiscaisEntradaIcon"></i>NOTAS FISCAIS DE ENTRADA
                </div>
            </div>
            <div class="ui-grid-row boxExterno">
                <div id="notasFiscaisEntradaMenuContent" style="width: border-box;height:max-content;border:1px solid white;" hidden="true">
                    <h:link outcome="/pages/privado/ead/relatorios/entrada/resumoNotas.xhtml">
                        <div style="height: 50px;
                             width: border-box;
                             padding: 3px;
                             padding-left: 40px;
                             display: flex;
                             align-items: center;
                             color: #32b8ff;">
                            <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>
                            RESUMO DE NOTAS DE ENTRADA
                        </div>
                    </h:link>
                    <h:link outcome="/pages/privado/ead/relatorios/entrada/notasFiscais.xhtml">
                        <div style="height: 50px;
                             width: border-box;
                             padding: 3px;
                             padding-left: 40px;
                             display: flex;
                             align-items: center;
                             color: #32b8ff;">
                            <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>
                            NOTAS FISCAIS DE ENTRADA
                        </div>
                    </h:link>
                    <h:link outcome="/pages/privado/ead/relatorios/entrada/notasFiscaisDetalhado.xhtml">
                        <div style="height: 50px;
                             width: border-box;
                             padding: 3px;
                             padding-left: 40px;
                             display: flex;
                             align-items: center;
                             color: #32b8ff;">
                            <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>
                            NOTAS FISCAIS DE ENTRADA DETALHADO
                        </div>
                    </h:link>
                </div>
            </div>
            <div class="ui-grid-row boxExterno">
                <div class="ui-g-12 ui-md-12 ui-lg-12 insideBoxExterno" id="livrosFiscaisBox"
                     onclick="openSubMenu('livrosFiscaisMenuContent');changeIcon('livrosFiscaisIcon');changeBackground('livrosFiscaisBox')">
                    <i class="fa fa-fw fa-caret-right layout-iconsmenu" id="livrosFiscaisIcon"></i>LIVROS FISCAIS
                </div>
            </div>
            <div class="ui-grid-row boxExterno">
                <div id="livrosFiscaisMenuContent" style="width: border-box;height:max-content;border:1px solid white;" hidden="true">
                    <h:link outcome="/pages/privado/ead/relatorios/livrosFiscais/registrosEntrada.xhtml">
                        <div style="height: 50px;
                             width: border-box;
                             padding: 3px;
                             padding-left: 40px;
                             display: flex;
                             align-items: center;
                             color: #32b8ff;">
                            <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>
                            REGISTROS DE ENTRADA
                        </div>
                    </h:link>
                    <h:link outcome="/pages/privado/ead/relatorios/livrosFiscais/registrosSaida.xhtml">
                        <div style="height: 50px;
                             width: border-box;
                             padding: 3px;
                             padding-left: 40px;
                             display: flex;
                             align-items: center;
                             color: #32b8ff;">
                            <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>
                            REGISTROS DE SAÍDA
                        </div>
                    </h:link>
                    <h:link outcome="/pages/privado/ead/relatorios/livrosFiscais/resumoApuracao.xhtml">
                        <div style="height: 50px;
                             width: border-box;
                             padding: 3px;
                             padding-left: 40px;
                             display: flex;
                             align-items: center;
                             color: #32b8ff;">
                            <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>
                            RESUMO DE APURAÇÃO
                        </div>
                    </h:link>
                </div>
            </div>
            <div class="ui-grid-row boxExterno">
                <div class="ui-g-12 ui-md-12 ui-lg-12 insideBoxExterno" id="pedidoDeVendasBox"
                     onclick="openSubMenu('pedidoDeVendasMenuContent');changeIcon('pedidoDeVendasIcon');changeBackground('pedidoDeVendasBox')">
                    <i class="fa fa-fw fa-caret-right layout-iconsmenu" id="pedidoDeVendasIcon"></i>PEDIDO DE VENDAS
                </div>
            </div>
            <div class="ui-grid-row boxExterno">
                <div id="pedidoDeVendasMenuContent" style="width: border-box;height:max-content;border:1px solid white;" hidden="true">
                    <h:link outcome="/pages/privado/ead/relatorios/pedidoVendas/resumo.xhtml">
                        <div style="height: 50px;
                             width: border-box;
                             padding: 3px;
                             padding-left: 40px;
                             display: flex;
                             align-items: center;
                             color: #32b8ff;">
                            <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>
                            RESUMO PEDIDO VENDAS
                        </div>
                    </h:link>
                </div>
            </div>
            <div class="ui-grid-row boxExterno">
                <div class="ui-g-12 ui-md-12 ui-lg-12 insideBoxExterno" id="relatorioFinanceiroBox"
                     onclick="openSubMenu('relatorioFinanceiroMenuContent');changeIcon('relatorioFinanceiroIcon');changeBackground('relatorioFinanceiroBox')">
                    <i class="fa fa-fw fa-caret-right layout-iconsmenu" id="relatorioFinanceiroIcon"></i>FINANCEIRO
                </div>
            </div>
            <div class="ui-grid-row boxExterno">
                <div id="relatorioFinanceiroMenuContent" style="width: border-box;height:max-content;border:1px solid white;" hidden="true">
                    <h:link outcome="/pages/privado/ead/relatorios/financeiro/resumos/geral.xhtml">
                        <div style="height: 50px;
                             width: border-box;
                             padding: 3px;
                             padding-left: 40px;
                             display: flex;
                             align-items: center;
                             color: #32b8ff;">
                            <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>
                            RESUMO GERAL
                        </div>
                    </h:link>
                    <h:link outcome="/pages/privado/ead/relatorios/financeiro/resumos/contas.xhtml">
                        <div style="height: 50px;
                             width: border-box;
                             padding: 3px;
                             padding-left: 40px;
                             display: flex;
                             align-items: center;
                             color: #32b8ff;">
                            <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>
                            RESUMO POR CONTAS
                        </div>
                    </h:link>
                    <h:link outcome="/pages/privado/ead/relatorios/financeiro/resumos/cliente.xhtml">
                        <div style="height: 50px;
                             width: border-box;
                             padding: 3px;
                             padding-left: 40px;
                             display: flex;
                             align-items: center;
                             color: #32b8ff;">
                            <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>
                            RESUMO POR CLIENTE
                        </div>
                    </h:link>
                    <h:link outcome="/pages/privado/ead/relatorios/financeiro/resumos/fornecedor.xhtml">
                        <div style="height: 50px;
                             width: border-box;
                             padding: 3px;
                             padding-left: 40px;
                             display: flex;
                             align-items: center;
                             color: #32b8ff;">
                            <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>
                            RESUMO POR FORNECEDOR
                        </div>
                    </h:link>
                    <h:link outcome="/pages/privado/ead/relatorios/financeiro/caixa/saldoCaixa.xhtml">
                        <div style="height: 50px;
                             width: border-box;
                             padding: 3px;
                             padding-left: 40px;
                             display: flex;
                             align-items: center;
                             color: #32b8ff;">
                            <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>
                            SALDO DE CAIXA
                        </div>
                    </h:link>
                    <h:link outcome="/pages/privado/ead/relatorios/financeiro/caixa/extratoResumido.xhtml">
                        <div style="height: 50px;
                             width: border-box;
                             padding: 3px;
                             padding-left: 40px;
                             display: flex;
                             align-items: center;
                             color: #32b8ff;">
                            <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>
                            EXTRATO RESUMIDO DE CAIXA
                        </div>
                    </h:link>
                    <h:link outcome="/pages/privado/ead/relatorios/financeiro/caixa/extratoDetalhado.xhtml">
                        <div style="height: 50px;
                             width: border-box;
                             padding: 3px;
                             padding-left: 40px;
                             display: flex;
                             align-items: center;
                             color: #32b8ff;">
                            <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>
                            EXTRATO DETALHADO DE CAIXA
                        </div>
                    </h:link>
                    <h:link outcome="/pages/privado/ead/relatorios/financeiro/lancamentosFinanceiros/detalhado.xhtml">
                        <div style="height: 50px;
                             width: border-box;
                             padding: 3px;
                             padding-left: 40px;
                             display: flex;
                             align-items: center;
                             color: #32b8ff;">
                            <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>
                            LANÇAMENTOS FINANCEIROS
                        </div>
                    </h:link>
                    <h:link outcome="/pages/privado/ead/relatorios/financeiro/lancamentosFinanceiros/resumido.xhtml">
                        <div style="height: 50px;
                             width: border-box;
                             padding: 3px;
                             padding-left: 40px;
                             display: flex;
                             align-items: center;
                             color: #32b8ff;">
                            <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>
                            LANÇAMENTOS FINANCEIROS RESUMIDOS
                        </div>
                    </h:link>
                    <h:link outcome="/pages/privado/ead/relatorios/financeiro/movimentacao/diario.xhtml">
                        <div style="height: 50px;
                             width: border-box;
                             padding: 3px;
                             padding-left: 40px;
                             display: flex;
                             align-items: center;
                             color: #32b8ff;">
                            <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>
                            MOVIMENTO DIÁRIO
                        </div>
                    </h:link>
                    <h:link outcome="/pages/privado/ead/relatorios/financeiro/movimentacao/entreContas.xhtml">
                        <div style="height: 50px;
                             width: border-box;
                             padding: 3px;
                             padding-left: 40px;
                             display: flex;
                             align-items: center;
                             color: #32b8ff;">
                            <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>
                            MOVIMENTAÇÃO ENTRE CONTAS
                        </div>
                    </h:link>
                </div>
            </div>
        </div>

        <!-- MDFE -->

        <div style="width: 250px;height: border-box;overflow-y: auto" id="menuMdfeContent" hidden="true"> 
            <h:link outcome="/pages/privado/ead/mdfe/emissao.xhtml">
                <div class="ui-grid-row boxExterno">
                    <div class="ui-g-12 ui-md-12 ui-lg-12 insideBoxExterno">
                        <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>MANIFESTO ELETRÔNICO
                    </div>
                </div>
            </h:link>
        </div>
        
        <!-- CTE -->

        <div style="width: 250px;height: border-box;overflow-y: auto" id="menuCteContent" hidden="true"> 
            <h:link outcome="/pages/privado/ead/cte/emissao.xhtml">
                <div class="ui-grid-row boxExterno">
                    <div class="ui-g-12 ui-md-12 ui-lg-12 insideBoxExterno">
                        <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>EMITIR CTE
                    </div>
                </div>
            </h:link>
            <h:link outcome="/pages/privado/ead/cte/cartaCorrecao.xhtml">
                <div class="ui-grid-row boxExterno">
                    <div class="ui-g-12 ui-md-12 ui-lg-12 insideBoxExterno">
                        <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>CARTA DE CORRECAO
                    </div>
                </div>
            </h:link>
        </div>

        <!-- FINANCEIRO -->

        <div style="width: 250px;height: border-box;overflow-y: auto" id="menuFinanceiroContent" hidden="true"> 
            <div class="ui-grid-row boxExterno">
                <div class="ui-g-12 ui-md-12 ui-lg-12 insideBoxExterno" id="financeiroBox"
                     onclick="openSubMenu('financeiroMenuContent');changeIcon('financeiroBoxIcon');changeBackground('financeiroBox')">
                    <i class="fa fa-fw fa-caret-right layout-iconsmenu" id="financeiroBoxIcon"></i>FINANCEIRO
                </div>
                <div id="financeiroMenuContent" style="width: border-box;height:max-content;border:1px solid white;" hidden="true">
                    <h:link outcome="/pages/privado/ead/financeiro/formaPagamento.xhtml">
                        <div style="height: 50px;
                             width: border-box;
                             padding: 3px;
                             padding-left: 40px;
                             display: flex;
                             align-items: center;
                             color: #32b8ff;">
                            <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>
                            CADASTRO DE FORMA DE PAGAMENTO
                        </div>
                    </h:link>
                    <h:link outcome="/pages/privado/ead/financeiro/conta.xhtml">
                        <div style="height: 50px;
                             width: border-box;
                             padding: 3px;
                             padding-left: 40px;
                             display: flex;
                             align-items: center;
                             color: #32b8ff;">
                            <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>
                            CADASTRO DE CONTA
                        </div>
                    </h:link>
                    <h:link outcome="/pages/privado/ead/financeiro/cfmeccc.xhtml">
                        <div style="height: 50px;
                             width: border-box;
                             padding: 3px;
                             padding-left: 40px;
                             display: flex;
                             align-items: center;
                             color: #32b8ff;">
                            <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>
                            CADASTRO DE CUSTO FIXO
                        </div>
                    </h:link>
                    <h:link outcome="/pages/privado/ead/financeiro/cfmeccc.xhtml">
                        <div style="height: 50px;
                             width: border-box;
                             padding: 3px;
                             padding-left: 40px;
                             display: flex;
                             align-items: center;
                             color: #32b8ff;">
                            <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>
                            MOVIMENTAÇÃO ENTRE CONTA
                        </div>
                    </h:link>
                    <h:link outcome="/pages/privado/ead/financeiro/cfmeccc.xhtml">
                        <div style="height: 50px;
                             width: border-box;
                             padding: 3px;
                             padding-left: 40px;
                             display: flex;
                             align-items: center;
                             color: #32b8ff;">
                            <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>
                            CONTROLE DE CHEQUE
                        </div>
                    </h:link>
                    <h:link outcome="/pages/privado/ead/financeiro/lancamentoFinanceiro.xhtml">
                        <div style="height: 50px;
                             width: border-box;
                             padding: 3px;
                             padding-left: 40px;
                             display: flex;
                             align-items: center;
                             color: #32b8ff;">
                            <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>
                            LANÇAMENTO FINANCEIRO
                        </div>
                    </h:link>
                </div>
            </div>
        </div>

        <!-- PAINEL CONTADOR -->

        <div style="width: 250px;height: border-box;overflow-y: auto" id="menuContadorContent" hidden="true"> 
            <div class="ui-grid-row boxExterno">
                <div class="ui-g-12 ui-md-12 ui-lg-12 insideBoxExterno" id="acoesBox"
                     onclick="openSubMenu('acoesMenuContent');changeIcon('acoesBoxIcon');changeBackground('acoesBox')">
                    <i class="fa fa-fw fa-caret-right layout-iconsmenu" id="acoesBoxIcon"></i>AÇÕES
                </div>
                <div id="acoesMenuContent" style="width: border-box;height:max-content;border:1px solid white;" hidden="true">
                    <h:link outcome="/pages/privado/ead/painelContador/acoes/configuracoesGerais.xhtml">
                        <div style="height: 50px;
                             width: border-box;
                             padding: 3px;
                             padding-left: 40px;
                             display: flex;
                             align-items: center;
                             color: #32b8ff;">
                            <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>
                            CONFIGURAÇÕES GERAIS
                        </div>
                    </h:link>
                </div>
            </div>
            <div class="ui-grid-row boxExterno">
                <div class="ui-g-12 ui-md-12 ui-lg-12 insideBoxExterno" id="conferenciasBox"
                     onclick="openSubMenu('conferenciasMenuContent');changeIcon('conferenciasBoxIcon');changeBackground('conferenciasBox')">
                    <i class="fa fa-fw fa-caret-right layout-iconsmenu" id="conferenciasBoxIcon"></i>CONFERÊNCIAS
                </div>
                <div id="conferenciasMenuContent" style="width: border-box;height:max-content;border:1px solid white;" hidden="true">
                    <h:link outcome="/pages/privado/ead/painelContador/conferencias/apuracoes.xhtml">
                        <div style="height: 50px;
                             width: border-box;
                             padding: 3px;
                             padding-left: 40px;
                             display: flex;
                             align-items: center;
                             color: #32b8ff;">
                            <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>
                            APURAÇÕES
                        </div>
                    </h:link>
                    <h:link outcome="/pages/privado/ead/painelContador/conferencias/documentosFiscais.xhtml">
                        <div style="height: 50px;
                             width: border-box;
                             padding: 3px;
                             padding-left: 40px;
                             display: flex;
                             align-items: center;
                             color: #32b8ff;">
                            <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>
                            DOCUMENTOS FISCAIS
                        </div>
                    </h:link>
                    <h:link outcome="/pages/privado/ead/painelContador/conferencias/financeiro.xhtml">
                        <div style="height: 50px;
                             width: border-box;
                             padding: 3px;
                             padding-left: 40px;
                             display: flex;
                             align-items: center;
                             color: #32b8ff;">
                            <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>
                            FINANCEIRO
                        </div>
                    </h:link>
                    <h:link outcome="/pages/privado/ead/painelContador/conferencias/nfce.xhtml">
                        <div style="height: 50px;
                             width: border-box;
                             padding: 3px;
                             padding-left: 40px;
                             display: flex;
                             align-items: center;
                             color: #32b8ff;">
                            <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>
                            NFCe
                        </div>
                    </h:link>
                    <h:link outcome="/pages/privado/ead/painelContador/conferencias/notasFiscaisRecebidas.xhtml">
                        <div style="height: 50px;
                             width: border-box;
                             padding: 3px;
                             padding-left: 40px;
                             display: flex;
                             align-items: center;
                             color: #32b8ff;">
                            <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>
                            NOTAS FISCAIS RECEBIDAS
                        </div>
                    </h:link>
                    <h:link outcome="/pages/privado/ead/painelContador/conferencias/notasFiscais.xhtml">
                        <div style="height: 50px;
                             width: border-box;
                             padding: 3px;
                             padding-left: 40px;
                             display: flex;
                             align-items: center;
                             color: #32b8ff;">
                            <i class="fa fa-fw fa-caret-right layout-iconsmenu"></i>
                            NOTAS FISCAIS
                        </div>
                    </h:link>
                </div>
            </div>
        </div>
    </div>
</ui:composition>