<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
        </f:facet>
        <title><ui:insert name="title">Avante Web</ui:insert></title>
        <h:outputScript name="js/nanoscroller.js" library="barcelona-layout" />
        <h:outputScript name="js/layout.js" library="barcelona-layout" />
        <h:outputScript name="js/ripple.js" library="barcelona-layout" />        
        <h:outputScript library="js" name="functions.js"/>
        <link rel="stylesheet" href="resources/css/font-awesome.min.css"/>
        <link rel="shortcut icon" type="image/x-icon" href="#{request.contextPath}/resources/barcelona-layout/images/favicon.ico"/>   
        <ui:insert name="head"/>   
        <style type="text/css">
            .nano > .nano-content.menu-scroll-content {
                display: block;
                height: 100%;
                position: relative;
                overflow: scroll;
                overflow-x: hidden;
            }
            .layout-wrapper .layout-sidebar {
                overflow: auto;
            }

            .layout-sidebar > .nano .nano-pane .nano-slider {
                background-color: #aaaaaa;
                opacity: 0.3;
                filter: alpha(opacity=30);
            }

            .layout-sidebar > .nano > .nano-content > .layout-tabmenu > ul {
                padding-bottom: 120px;
            }
        </style>
        <style>     
            .md-selectonemenu {
                display: block;
                position:relative; 
            }

            .ui-growl {
                left: 42%;
            }

            .md-selectonemenu .ui-selectonemenu > label {
                color: transparent;
            }

            .md-selectonemenu .ui-selectonemenu.ui-state-filled > label {
                color: #212121;
            }

            .md-selectonemenu .ui-selectonemenu.ui-state-focus ~ label,
            .md-selectonemenu .ui-state-filled ~ label {
                top:-20px;
                font-size:12px;
                color:#3F51B5;
            }

            .md-selectonemenu > label {
                color:#999; 
                font-weight:normal;
                position:absolute;
                pointer-events:none;
                left:5px;
                top:1px;
                transition: 0.3s ease all; 
                -moz-transition: 0.3s ease all; 
                -webkit-transition: 0.3s ease all;
            }

            .md-selectonemenu2 {
                display: block;
                position:relative; 
            }

            .md-selectonemenu2 > label {
                color:#999; 
                font-weight:normal;
                position:absolute;
                pointer-events:none;
                left:5px;
                top:1px;
                top:-20px;
                font-size:12px;
                color:#3F51B5;
                transition: 0.3s ease all; 
                -moz-transition: 0.3s ease all; 
                -webkit-transition: 0.3s ease all;
            }
            .Container{
                width:100%;
                display:flex;
                flex-direction: row;
                justify-content: center;
                align-items: center
            }
            .layout-principal{
                padding-right: 10px;
                width: 100%;
                overflow-x: hidden;
            }
            .layout-menulateral{
                width: 60px;
                margin-top:50px;
                height: 75vh;
                background-color: #ededed;
            }
            .layout-background{
                background-color: #EDEDED;
                display: flex;
                width: 100vw;
                height: 100vh;
            }
            #menulateral::-webkit-scrollbar-track{
                -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
                background-color: #EDEDED;
            }

            #menulateral::-webkit-scrollbar{
                width: 6px;
                background-color: #EDEDED;
            }

            #menulateral::-webkit-scrollbar-thumb{
                background-color: rgba(50, 184, 255 ,0.1);
            }

            .layout-containercontent{
                width: 100%;
                margin-top: 40px;
            }
            .layout-iconsmenu{
                color: #32b8ff;
                margin-right: 10px;
            }
            .layout-mainiconsmenu{
                color: white;
                font-size: 22px;
            }
            .boxIndividualMenu{
                width: 100%;
                color: white;
                cursor: pointer;
                font-weight: bold;
                padding: 0px;
                height: 45px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .boxIndividualInsideMenu{
                width:100%;
                background-color: #5FADFF;
                color: white;
                cursor: pointer;
                font-weight: bold;
                padding: 0px;
                height:40px;
                display:flex;
                align-items:center;
                justify-content:center;
            }
            .boxIndividualMenu:hover{
                background-color: #3F6FA3;
            }
            .boxSelecionado{
                background-color: #3F6FA3;
            }
            .boxExterno{
                display:flex;
                flex-direction: column;
            }
            .insideBoxExterno{
                height: 45px;
                width: 100%;
                padding-left: 3px;
                background-color: white;
                color: #32B8FF;
                cursor: pointer;
                display: flex;
                align-items: center;
            }
            .insideBoxExterno:hover{
                color: #ffffff;
                background-color: #3F6FA3;
            }
            .boxExterno a{
                color: #32b8ff;
            }
            .boxExterno:hover a{
                color: white;
            }
            .layout-optionmastermenu{
                box-sizing: border-box;
                border:1px solid #1976D2;
                width:100%;
            }
            .layout-suboptionsmenu{
                box-sizing: border-box;
                border:1px solid #1976D2;
                width:100%;
            }
            .layout-containersprincipais{
                width: 100%;
                background-color: #fbfbfb;
                border: 1px solid #f3f3f3;
                border-radius: 3px;
            }
            .clicavel{
                color:lightgrey;
            }
            .clicavel:hover{
                color:#32b8ff;
            }
            .navbar {
                overflow: hidden;
                background-color: white;
                position: fixed;
                top: 0;
                width: 100%;
                height: 50px;
                box-shadow: 0px 7px 6px -10px black;
            }
            #descriptionIconsMenu{
                color: white;
                height: max-content;
                background-color: #32B8FF;
                display:none;
                flex-direction: column;
            }
            .boxIndividualMenu .tooltiptext {
                display: none;
                width: 120px;
                background-color: gray;
                color: #fff;
                text-align: center;
                padding: 5px 0;
                margin-right: -120px;
                z-index:1;
                border-radius: 5px;
            }
            .boxIndividualMenu:hover .tooltiptext {
                display: initial;
            }
        </style>
        <script type="text/javascript">
            //<![CDATA[
            $(function () {
                var oneMenu = $('.md-selectonemenu > .ui-selectonemenu');

                for (var i = 0; i < oneMenu.length; i++) {
                    var selectTag = oneMenu.eq(i).find('select');

                    if (selectTag.val() != "") {
                        oneMenu.addClass("ui-state-filled");
                    }
                }
            });

            function animationFun($this) {
                var menuId = $($this).closest('.ui-selectonemenu').attr('id'),
                        menu = $(PrimeFaces.escapeClientId(menuId)),
                        selectTag = menu.find('select');

                if (selectTag.val() != "") {
                    menu.addClass("ui-state-filled");
                } else {
                    menu.removeClass("ui-state-filled");
                }
            }

            function validacaoEmail(field) {
                usuario = field.value.substring(0, field.value.indexOf("@"));
                dominio = field.value.substring(field.value.indexOf("@") + 1, field.value.length);

                if ((usuario.length >= 1) &&
                        (dominio.length >= 3) &&
                        (usuario.search("@") == -1) &&
                        (dominio.search("@") == -1) &&
                        (usuario.search(" ") == -1) &&
                        (dominio.search(" ") == -1) &&
                        (dominio.search(".") != -1) &&
                        (dominio.indexOf(".") >= 1) &&
                        (dominio.lastIndexOf(".") < dominio.length - 1)) {
                    document.getElementById("msgemail").innerHTML = "E-mail válido";
                    alert("E-mail valido");
                } else {
                    document.getElementById("msgemail").innerHTML = "<font color='red'>E-mail inválido </font>";
                    alert("E-mail invalido");
                }
            }

            function validacaoEmail(field) {
                usuario = field.value.substring(0, field.value.indexOf("@"));
                dominio = field.value.substring(field.value.indexOf("@") + 1, field.value.length);

                if ((usuario.length >= 1) &&
                        (dominio.length >= 3) &&
                        (usuario.search("@") == -1) &&
                        (dominio.search("@") == -1) &&
                        (usuario.search(" ") == -1) &&
                        (dominio.search(" ") == -1) &&
                        (dominio.search(".") != -1) &&
                        (dominio.indexOf(".") >= 1) &&
                        (dominio.lastIndexOf(".") < dominio.length - 1)) {
                    document.getElementById("msgemail").innerHTML = "E-mail válido";
                    alert("E-mail valido");
                } else {
                    document.getElementById("msgemail").innerHTML = "<font color='red'>E-mail inválido </font>";
                    alert("E-mail invalido");
                }
            }

            function openSubMenu(destino) {
                if (document.getElementById(destino).hidden === true) {
                    document.getElementById(destino).hidden = false;
                } else {
                    document.getElementById(destino).hidden = true;
                }
            }
            
            function openDescription(destino) {
                if (document.getElementById(destino).style.display === "none") {
                    document.getElementById(destino).style.display = "inherit";
                } else {
                    document.getElementById(destino).style.display = "none";
                }
            }

            function openDescriptionIconsMenu() {
                if (document.getElementById("extendsIcon").hidden === true) {
                    document.getElementById("extendsIcon").hidden = false;
                    document.getElementById("hiddenIcon").hidden = true;
                    document.getElementById("descriptionIconsMenu").style.display = "none";
                } else {
                    document.getElementById("extendsIcon").hidden = true;
                    document.getElementById("hiddenIcon").hidden = false;
                    document.getElementById("descriptionIconsMenu").style.display = "flex";
                }
            }

            function selecionarElemento(referencia) {
                switch (referencia) {
                    case "cadastrosIcon":
                        var element = document.getElementById("cadastrosIcon");
                        if (element.classList.contains("boxSelecionado")) {
                            element.classList.remove("boxSelecionado");
                        } else {
                            element.classList.add("boxSelecionado");
                        }
                        element = document.getElementById("nfeIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("nfceIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("cteIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("mdfeIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("entradafiscalIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("financeiroIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("estoqueIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("relatoriosIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("painelcontadorIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("duvidasIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("suporteIcon");
                        element.classList.remove("boxSelecionado");
                        break;
                    case "nfeIcon":
                        var element = document.getElementById("nfeIcon");
                        if (element.classList.contains("boxSelecionado")) {
                            element.classList.remove("boxSelecionado");
                        } else {
                            element.classList.add("boxSelecionado");
                        }
                        element.classList.add("boxSelecionado");
                        element = document.getElementById("cadastrosIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("nfceIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("cteIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("mdfeIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("entradafiscalIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("financeiroIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("estoqueIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("relatoriosIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("painelcontadorIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("duvidasIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("suporteIcon");
                        element.classList.remove("boxSelecionado");
                        break;
                    case "nfceIcon":
                        var element = document.getElementById("nfceIcon");
                        if (element.classList.contains("boxSelecionado")) {
                            element.classList.remove("boxSelecionado");
                        } else {
                            element.classList.add("boxSelecionado");
                        }
                        element.classList.add("boxSelecionado");
                        element = document.getElementById("cadastrosIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("nfeIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("cteIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("mdfeIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("entradafiscalIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("financeiroIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("estoqueIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("relatoriosIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("painelcontadorIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("duvidasIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("suporteIcon");
                        element.classList.remove("boxSelecionado");
                        break;
                    case "cteIcon":
                        var element = document.getElementById("cteIcon");
                        if (element.classList.contains("boxSelecionado")) {
                            element.classList.remove("boxSelecionado");
                        } else {
                            element.classList.add("boxSelecionado");
                        }
                        element.classList.add("boxSelecionado");
                        element = document.getElementById("cadastrosIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("nfeIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("nfceIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("mdfeIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("entradafiscalIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("financeiroIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("estoqueIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("relatoriosIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("painelcontadorIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("duvidasIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("suporteIcon");
                        element.classList.remove("boxSelecionado");
                        break;
                    case "mdfeIcon":
                        var element = document.getElementById("mdfeIcon");
                        if (element.classList.contains("boxSelecionado")) {
                            element.classList.remove("boxSelecionado");
                        } else {
                            element.classList.add("boxSelecionado");
                        }
                        element.classList.add("boxSelecionado");
                        element = document.getElementById("cadastrosIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("nfeIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("nfceIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("cteIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("entradafiscalIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("financeiroIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("estoqueIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("relatoriosIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("painelcontadorIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("duvidasIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("suporteIcon");
                        element.classList.remove("boxSelecionado");
                        break;
                    case "entradafiscalIcon":
                        var element = document.getElementById("entradafiscalIcon");
                        if (element.classList.contains("boxSelecionado")) {
                            element.classList.remove("boxSelecionado");
                        } else {
                            element.classList.add("boxSelecionado");
                        }
                        element.classList.add("boxSelecionado");
                        element = document.getElementById("cadastrosIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("nfeIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("nfceIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("cteIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("mdfeIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("financeiroIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("estoqueIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("relatoriosIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("painelcontadorIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("duvidasIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("suporteIcon");
                        element.classList.remove("boxSelecionado");
                        break;
                    case "financeiroIcon":
                        var element = document.getElementById("financeiroIcon");
                        if (element.classList.contains("boxSelecionado")) {
                            element.classList.remove("boxSelecionado");
                        } else {
                            element.classList.add("boxSelecionado");
                        }
                        element.classList.add("boxSelecionado");
                        element = document.getElementById("cadastrosIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("nfeIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("nfceIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("cteIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("mdfeIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("entradafiscalIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("estoqueIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("relatoriosIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("painelcontadorIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("duvidasIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("suporteIcon");
                        element.classList.remove("boxSelecionado");
                        break;
                    case "estoqueIcon":
                        var element = document.getElementById("estoqueIcon");
                        if (element.classList.contains("boxSelecionado")) {
                            element.classList.remove("boxSelecionado");
                        } else {
                            element.classList.add("boxSelecionado");
                        }
                        element.classList.add("boxSelecionado");
                        element = document.getElementById("cadastrosIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("nfeIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("nfceIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("cteIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("mdfeIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("entradafiscalIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("financeiroIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("relatoriosIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("painelcontadorIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("duvidasIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("suporteIcon");
                        element.classList.remove("boxSelecionado");
                        break;
                    case "relatoriosIcon":
                        var element = document.getElementById("relatoriosIcon");
                        if (element.classList.contains("boxSelecionado")) {
                            element.classList.remove("boxSelecionado");
                        } else {
                            element.classList.add("boxSelecionado");
                        }
                        element.classList.add("boxSelecionado");
                        element = document.getElementById("cadastrosIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("nfeIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("nfceIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("cteIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("mdfeIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("entradafiscalIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("financeiroIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("estoqueIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("painelcontadorIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("duvidasIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("suporteIcon");
                        element.classList.remove("boxSelecionado");
                        break;
                    case "painelcontadorIcon":
                        var element = document.getElementById("painelcontadorIcon");
                        if (element.classList.contains("boxSelecionado")) {
                            element.classList.remove("boxSelecionado");
                        } else {
                            element.classList.add("boxSelecionado");
                        }
                        element.classList.add("boxSelecionado");
                        element = document.getElementById("cadastrosIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("nfeIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("nfceIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("cteIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("mdfeIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("entradafiscalIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("financeiroIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("estoqueIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("relatoriosIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("duvidasIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("suporteIcon");
                        element.classList.remove("boxSelecionado");
                        break;
                    case "duvidasIcon":
                        var element = document.getElementById("duvidasIcon");
                        if (element.classList.contains("boxSelecionado")) {
                            element.classList.remove("boxSelecionado");
                        } else {
                            element.classList.add("boxSelecionado");
                        }
                        element.classList.add("boxSelecionado");
                        element = document.getElementById("cadastrosIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("nfeIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("nfceIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("cteIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("mdfeIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("entradafiscalIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("financeiroIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("estoqueIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("relatoriosIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("painelcontadorIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("suporteIcon");
                        element.classList.remove("boxSelecionado");
                        break;
                    case "suporteIcon":
                        var element = document.getElementById("suporteIcon");
                        if (element.classList.contains("boxSelecionado")) {
                            element.classList.remove("boxSelecionado");
                        } else {
                            element.classList.add("boxSelecionado");
                        }
                        element.classList.add("boxSelecionado");
                        element = document.getElementById("cadastrosIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("nfeIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("nfceIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("cteIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("mdfeIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("entradafiscalIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("financeiroIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("estoqueIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("relatoriosIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("painelcontadorIcon");
                        element.classList.remove("boxSelecionado");
                        element = document.getElementById("duvidasIcon");
                        element.classList.remove("boxSelecionado");
                        break;
                }
            }
            function changeIcon(id) {
                var element = document.getElementById(id);
                if (element.classList.contains("fa-caret-down")) {
                    element.classList.remove("fa-caret-down");
                    element.classList.add("fa-caret-right");
                } else {
                    element.classList.remove("fa-caret-right");
                    element.classList.add("fa-caret-down");
                }
            }
            function changeBackground(id) {
                var element = document.getElementById(id);
                if (element.style.backgroundColor === "#3F6FA3") {
                    element.style.backgroundColor = "#3F6FA3";
                    element.style.color = "#ffffff";
                }
                if (element.style.backgroundColor === "#ffffff" || element.style.backgroundColor === "white") {
                    element.style.backgroundColor = "#3F6FA3";
                    element.style.color = "#ffffff";
                }
            }

            function fechaRestante(id) {
                var menus = ['menuFinanceiroContent', 'menuCteContent', 'menuContadorContent', 'menuFiscalContent', 'menuCadastroContent', 'menuNfeContent', 'menuNfceContent', 'menuMdfeContent', 'menuFiscalContent', 'menuEstoqueContent', 'menuRelatoriosContent'];
                for (var i = 0; i < menus.length; i++) {
                    if (menus[i] !== id) {
                        document.getElementById(menus[i]).hidden = true;
                        console.log("Box '" + menus[i] + "' escondido com sucesso!");
                    }
                }
            }

            function wait(ms) {
                var start = new Date().getTime();
                var end = start;
                while (end < start + ms) {
                    end = new Date().getTime();
                }
            }

            function mudaIcone(id, nomeIconNovo, nomeIconInicial) {
                var element = document.getElementById(id);
                if (element.classList.contains(nomeIconNovo)) {
                    element.classList.remove(nomeIconNovo);
                    element.classList.add(nomeIconInicial);
                } else {
                    element.classList.add(nomeIconNovo);
                    element.classList.remove(nomeIconInicial);
                }
            }

            wait(500);
            //]]>
        </script>
    </h:head>

    <h:body class="layout-background" onload="#{utilMB.verificaAcesso()}">
        <ui:include src="./topbarEad.xhtml"/>
        <ui:include src="./menuEad.xhtml"/>
        <div class="layout-principal">
            <h:form id="form">
                <p:growl id="growl"/>  
                <p:growl id="growlEnvioNfe" sticky="true"/>  
                <ui:insert name="content"/>
            </h:form>
        </div>

        <p:ajaxStatus style="width:32px;height:32px;position:fixed;right:7px;bottom:7px">
            <f:facet name="start">
                <i class="fa fa-circle-o-notch fa-spin ajax-loader" aria-hidden="true"></i>
            </f:facet>

            <f:facet name="complete">
                <h:outputText value="" />
            </f:facet>
        </p:ajaxStatus>

        <h:outputStylesheet name="css/nanoscroller.css" library="barcelona-layout" />
        <h:outputStylesheet name="css/animate.css" library="barcelona-layout" />
        <h:outputStylesheet name="css/ripple.css" library="barcelona-layout" />
        <h:outputStylesheet name="css/layout-blue.css" library="barcelona-layout" />
    </h:body>

</html>