<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pa="http://primefaces.org/barcelona">

    <div class="navbar">
        <h:link outcome="/index.xhtml">
            <img src="#{request.contextPath}/resources/images/avante-ead-sem-fundo.png" 
                 style="height:40px;opacity: 0.8;padding:5px;" />
        </h:link>
    </div>
</ui:composition>