<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template/barcelona/templateExterno.xhtml">
        <ui:define name="title">Curva ABC - EAD</ui:define>
        <ui:define name="content">
            <div class="layout-containercontent">
                <div class="ui-grid">
                    <div class="ui-grid-row" style="margin-top:10px;height:max-content">
                        <div class="ui-g-12 ui-md-12 ui-lg-6" style="margin-right: 10px;height:border-box;width:100%;padding-bottom:0px;">
                            <div class="layout-containersprincipais" style="height: max-content;width:100%;">
                                <p:media value="http://www.youtube.com/v/R2fw2MFwJDs" width="100%" height="300px" player="flash" />
                            </div>
                            <div class="layout-containersprincipais" style="height: 340px;margin-top: 10px;width: 100%;height: border-box">
                                <h3 style="margin-left: 10px;">SUGESTÕES DE VÍDEOS</h3>
                                <p:separator />
                                <div style="width:100%; text-align: center;">
                                    <h5><a href="#{request.contextPath}/pages/privado/ead/estoque/curvaAbc.xhtml"><i class="fa fa-fw fa-caret-right" style="color: rgba(0,0,0,0.8);"></i>Relatório de Estoque Min/Max</a></h5>
                                    <h5><a href="#{request.contextPath}/pages/privado/ead/estoque/entrada.xhtml"><i class="fa fa-fw fa-caret-right" style="color: rgba(0,0,0,0.8);"></i>Relatório de Entrada</a></h5>
                                    <h5><a href="#{request.contextPath}/pages/privado/ead/estoque/entradasesaidas.xhtml"><i class="fa fa-fw fa-caret-right" style="color: rgba(0,0,0,0.8);"></i>Relatório de Entradas e Saidas</a></h5>
                                    <h5><a href="#{request.contextPath}/pages/privado/ead/estoque/entradasesaidasdet.xhtml"><i class="fa fa-fw fa-caret-right" style="color: rgba(0,0,0,0.8);"></i>Relatório de Entradas e Saidas Detalhado</a></h5>
                                    <h5><a href="#{request.contextPath}/pages/privado/ead/estoque/estoqueInicial.xhtml"><i class="fa fa-fw fa-caret-right" style="color: rgba(0,0,0,0.8);"></i>Relatório de Estoque Inicial</a></h5>
                                    <h5><a href="#{request.contextPath}/pages/privado/ead/estoque/estoqueSintetico.xhtml"><i class="fa fa-fw fa-caret-right" style="color: rgba(0,0,0,0.8);"></i>Relatório de Estoque Sintetico</a></h5>
                                </div>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-12 ui-lg-6 layout-containersprincipais" style="height:border-box;width: 100%;margin-top: 10px;padding:0px;">
                            <h3 style="margin-left:10px;">MANUAL EM PDF</h3>
                            <p:separator />
                            <p:media value="/resources/ead/pdfs/estoque/relatoriosEstoque.pdf" width="100%" height="90%">
                                Seu navegador não pôde exibir o pdf, <h:outputLink value="/resources/ead/pdfs/estoque/relatoriosEstoque.pdf">clique aqui</h:outputLink> para baixá-lo.
                            </p:media>
                        </div>
                    </div>
                    <div class="ui-grid" style="height:max-content;width:100%;margin-top:70px;margin-bottom: 30px;">
                        <div class="ui-grid-row" style="display:flex;align-items: center;justify-content: center;width:100%;">
                            <a class="clicavel" href="http://avantetech.com.br/" style="font-size: 15px;text-decoration: none;">
                                http://avantetech.com.br/
                            </a>
                        </div> 
                        <div class="ui-grid-row" style="margin-top: 10px;display: flex;align-items: center;justify-content: center;width: 100%;">
                            <a class="clicavel" href="https://www.instagram.com/avantesolucoesdigitais/">
                                <i class="fa fa-fw fa-instagram" style="font-size: 25px;"></i>
                            </a>
                            <a class="clicavel" href="https://api.whatsapp.com/send?phone=5537998335132">
                                <i class="fa fa-fw fa-whatsapp" style="font-size: 25px;"></i>
                            </a>
                            <a class="clicavel" href="https://www.facebook.com/avantesolucoesdigitais/">
                                <i class="fa fa-fw fa-facebook-official" style="font-size: 25px;"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </ui:define>
    </ui:composition>
</html>