<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template/barcelona/templateExterno.xhtml">
        <ui:define name="title">Avante Web - EAD</ui:define>
        <ui:define name="content">
            <div class="layout-containercontent">
                <div class="ui-grid" style="padding-left:10px;">
                    <div class="ui-grid-row" style=" width:100%;">
                        <img src="#{request.contextPath}/resources/images/avante-ead-inicial.png" 
                             style="width: 100%;padding:5px;" />
                    </div>
                    <div class="ui-grid-row" style="margin-bottom: 20px;">
                        <div class="ui-g-12 ui-lg-12 ui-md-12 layout-containersprincipais">
                            <h2>NOVIDADES DO AVANTEWEB</h2>
                            <p:separator />
                            <div class="ui-grid-row">
                                <div class="ui-g-6 ui-md-6 ui-lg-6" style="border:1px solid lightgray;margin-right: 10px;">
                                    <img src="#{request.contextPath}/resources/noticias/novidade1.jpg" 
                                         style="width: 100%;" />
                                </div>
                                <div class="ui-g-6 ui-md-6 ui-lg-6" style="border:1px solid lightgray;margin-right: 10px;">
                                    <img src="#{request.contextPath}/resources/noticias/novidade2.jpg" 
                                         style="width: 100%;" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui-grid-row" style="margin-bottom: 20px;margin-top: 20px;">
                        <div class="ui-g-12 ui-lg-12 ui-md-12 layout-containersprincipais">
                            <h2>MAIS ACESSADOS</h2>
                            <p:separator />
                            <div class="ui-grid-row">
                                <div class="ui-g-6 ui-md-6 ui-lg-6" style="border:1px solid lightgray;margin-right: 10px;">
                                    <div class="ui-grid-row">
                                        <div class="ui-g-6 ui-md-6 ui-lg-6" style="width:100%; height:100%;">
                                            <p:media value="http://www.youtube.com/v/95P_BmxJEXE" width="100%" height="100%" player="flash"/>
                                        </div>
                                        <div class="ui-g-6 ui-md-6 ui-lg-6" style="width:100%; height:100%;text-align: center;">
                                            <h:link outcome="/pages/privado/ead/cadastro/configuracoesIniciais.xhtml" style="text-decoration: none;color:#424242">
                                                <h6 style="margin-bottom: 0px; padding-bottom: 0px;color:rgba(0,0,0,0.7)">PRIMEIROS PASSOS AO ACESSAR O AVANTEWEB!</h6>
                                                <h3 style="margin-top: 0px; padding-top: 0px">Configurações iniciais</h3>
                                            </h:link>
                                            <h6>PLANOS COM ACESSO:</h6>
                                            <div style="width: border-box;display: flex;height: max-content;justify-content: center;">
                                                <div style="width: max-content;background-color: rgba(95,173,255,0.5);border-radius: 5px;padding:5px;margin:3px;">
                                                    BÁSICO
                                                </div>
                                                <div style="width: max-content;background-color: rgba(95,173,255,0.5);border-radius: 5px;padding:5px;margin:3px;">
                                                    INTERMEDIÁRIO
                                                </div>
                                                <div style="width: max-content;background-color: rgba(95,173,255,0.5);border-radius: 5px;padding:5px;margin:3px;">
                                                    COMPLETO
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ui-g-6 ui-md-6 ui-lg-6" style="border:1px solid lightgray;margin-right: 10px;">
                                    <div class="ui-grid-row">
                                        <div class="ui-g-6 ui-md-6 ui-lg-6" style="width:100%; height:100%;">
                                            <p:media value="http://www.youtube.com/v/LlJ-8urwKak" width="100%" height="100%" player="flash"/>
                                        </div>
                                        <div class="ui-g-6 ui-md-6 ui-lg-6" style="width:100%; height:100%;text-align: center;">
                                            <h3>Como Fazer Cadastro de Participante</h3>
                                            <h6>PLANOS COM ACESSO:</h6>
                                            <div style="width: border-box;display: flex;height: max-content;justify-content: center;">
                                                <div style="width: max-content;background-color: rgba(95,173,255,0.5);border-radius: 5px;padding:5px;margin:3px;">
                                                    BÁSICO
                                                </div>
                                                <div style="width: max-content;background-color: rgba(95,173,255,0.5);border-radius: 5px;padding:5px;margin:3px;">
                                                    INTERMEDIÁRIO
                                                </div>
                                                <div style="width: max-content;background-color: rgba(95,173,255,0.5);border-radius: 5px;padding:5px;margin:3px;">
                                                    COMPLETO
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ui-grid-row" style="margin-top: 10px;">
                                <div class="ui-g-6 ui-md-6 ui-lg-6" style="border:1px solid lightgray;margin-right: 10px;">
                                    <div class="ui-grid-row">
                                        <div class="ui-g-6 ui-md-6 ui-lg-6" style="width:100%; height:100%;">
                                            <p:media value="http://www.youtube.com/v/swNpFVEXRwc" width="100%" height="100%" player="flash"/>
                                        </div>
                                        <div class="ui-g-6 ui-md-6 ui-lg-6" style="width:100%; height:100%;text-align: center;">
                                            <h3>Como Emitir NFe</h3>
                                            <h6>PLANOS COM ACESSO:</h6>
                                            <div style="width: border-box;display: flex;height: max-content;justify-content: center;">
                                                <div style="width: max-content;background-color: rgba(95,173,255,0.5);border-radius: 5px;padding:5px;margin:3px;">
                                                    BÁSICO
                                                </div>
                                                <div style="width: max-content;background-color: rgba(95,173,255,0.5);border-radius: 5px;padding:5px;margin:3px;">
                                                    INTERMEDIÁRIO
                                                </div>
                                                <div style="width: max-content;background-color: rgba(95,173,255,0.5);border-radius: 5px;padding:5px;margin:3px;">
                                                    COMPLETO
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ui-g-6 ui-md-6 ui-lg-6" style="border:1px solid lightgray;margin-right: 10px;">
                                    <div class="ui-grid-row">
                                        <div class="ui-g-6 ui-md-6 ui-lg-6" style="width:100%; height:100%;">
                                            <p:media value="http://www.youtube.com/v/Gtg8UMRlVBY" width="100%" height="100%" player="flash"/>
                                        </div>
                                        <div class="ui-g-6 ui-md-6 ui-lg-6" style="width:100%; height:100%;text-align: center;">
                                            <h3>Como Fazer Entrada de NFe</h3>
                                            <h6>PLANOS COM ACESSO:</h6>
                                            <div style="width: border-box;display: flex;height: max-content;justify-content: center;">
                                                <div style="width: max-content;background-color: rgba(95,173,255,0.5);border-radius: 5px;padding:5px;margin:3px;">
                                                    BÁSICO
                                                </div>
                                                <div style="width: max-content;background-color: rgba(95,173,255,0.5);border-radius: 5px;padding:5px;margin:3px;">
                                                    INTERMEDIÁRIO
                                                </div>
                                                <div style="width: max-content;background-color: rgba(95,173,255,0.5);border-radius: 5px;padding:5px;margin:3px;">
                                                    COMPLETO
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui-grid-row" style="margin-bottom: 20px;">
                        <div class="ui-g-12 ui-lg-12 ui-md-12 layout-containersprincipais">
                            <h2>NOTÍCIAS</h2>
                            <p:separator />
                            <div class="ui-g-12 ui-md-12 ui-lg-12">
                                <div class="ui-g-12 ui-md-4 ui-lg-4" style="height:35vh;padding-right:50px;padding-left: 50px;">
                                    <div class="ui-g-12 ui-md-12 ui-lg-12" style="padding: 5px;
                                         text-align: justify;
                                         color: rgba(0,0,0,0.7);
                                         border:1px solid rgba(0,0,0,0.05);
                                         height: 100%;
                                         display: flex;
                                         align-items: center;
                                         justify-content: center;
                                         flex-direction: column;">
                                        <img src="https://avantetech.com.br/wp-content/uploads/2019/07/NFC-e-%C3%A9-obrigatoriedade-mas-tamb%C3%A9m-traz-benef%C3%ADcios.jpg" style="height:60%;"/>
                                        <p style="width:90%;">NFC-e é obrigatoriedade, mas também traz benefícios</p>
                                        <h:outputLink value="https://avantetech.com.br/nfc-e-e-obrigatoriedade-mas-tambem-traz-beneficios/">
                                            <div style="background-color: #1976D2;border:1px solid #1976d2;border-radius: 5px;box-shadow: 0 1px gray;color: white;padding:1px;font-weight: normal;" >Ver mais</div>
                                        </h:outputLink>
                                    </div>
                                </div>

                                <div class="ui-g-12 ui-md-4 ui-lg-4" style="height:35vh;padding-right:50px;padding-left: 50px;">
                                    <div class="ui-g-12 ui-md-12 ui-lg-12" style="padding: 5px;
                                         text-align: justify;
                                         color: rgba(0,0,0,0.7);
                                         border:1px solid rgba(0,0,0,0.05);
                                         height: 100%;
                                         display:flex;
                                         align-items: center;
                                         justify-content: center;
                                         flex-direction: column;">
                                        <img src="https://avantetech.com.br/wp-content/uploads/2019/07/nfe-produtor-rural.jpg" style="height:60%;"/>
                                        <p style="width:90%;">Emissão de NF-e por produtor rural traz benefícios e economia</p>
                                        <h:outputLink value="https://avantetech.com.br/emissao-de-nf-e-por-produtor-rural-traz-beneficios-e-economia/">
                                            <div style="background-color: #1976D2;border:1px solid #1976d2;border-radius: 5px;box-shadow: 0 1px gray;color: white;padding:1px;font-weight: normal;" >Ver mais</div>
                                        </h:outputLink>
                                    </div>
                                </div>
                                <div class="ui-g-12 ui-md-4 ui-lg-4" style="height:35vh;padding-right:50px;padding-left: 50px;">
                                    <div class="ui-g-12 ui-md-12 ui-lg-12" style="padding: 5px;
                                         text-align: justify;
                                         color: rgba(0,0,0,0.7);
                                         border:1px solid rgba(0,0,0,0.05);
                                         height: 100%;
                                         display:flex;
                                         align-items: center;
                                         justify-content: center;
                                         flex-direction: column;">
                                        <img src="https://avantetech.com.br/wp-content/uploads/2017/02/gestao-1024x683.jpg" style="height:60%;"/>
                                        <p style="width:90%;">Como um software de gestão pode revolucionar sua empresa</p>
                                        <h:outputLink value="http://avantetech.com.br/como-um-software-pode-revolucionar-sua-empresa/">
                                            <div style="background-color: #1976D2;border:1px solid #1976d2;border-radius: 5px;box-shadow: 0 1px gray;color: white;padding:1px;font-weight: normal;" >Ver mais</div>
                                        </h:outputLink>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui-grid" style="height:max-content;width:100%;margin-top:50px;margin-bottom: 30px;">
                        <div class="ui-grid-row" style="display:flex;align-items: center;justify-content: center;width:100%;">
                            <a class="clicavel" href="http://avantetech.com.br/" style="font-size: 15px;text-decoration: none;">
                                http://avantetech.com.br/
                            </a>
                        </div> 
                        <div class="ui-grid-row" style="margin-top: 10px;display: flex;align-items: center;justify-content: center;width: 100%;">
                            <a class="clicavel" href="https://www.instagram.com/avantesolucoesdigitais/">
                                <i class="fa fa-fw fa-instagram" style="font-size: 25px;"></i>
                            </a>
                            <a class="clicavel" href="https://api.whatsapp.com/send?phone=5537998335132">
                                <i class="fa fa-fw fa-whatsapp" style="font-size: 25px;"></i>
                            </a>
                            <a class="clicavel" href="https://www.facebook.com/avantesolucoesdigitais/">
                                <i class="fa fa-fw fa-facebook-official" style="font-size: 25px;"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </ui:define>
    </ui:composition>
</html>