<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template/barcelona/templateExterno.xhtml">
        <ui:define name="title">FAQ - EAD</ui:define>
        <ui:define name="content">
            <div class="layout-containercontent" style="width: 100%;">
                <div class="ui-grid" style="margin-left: 10px;padding:0 10px;background-color: #fbfbfb">
                    <div class="ui-grid-row">
                        <div class="ui-g-12 ui-md-12 ui-lg-12" style="display:flex;
                             flex-direction: column;
                             text-align: center;
                             justify-content: center;margin:0;">
                            <h2 style="text-align: left">FAQ - DÚVIDAS FREQUENTES</h2>
                            <h4 style="text-align: left;margin-top:0;">Dúvidas do AvanteWeb</h4>
                        </div>
                    </div>
                    <p:separator/>
                    <div class="ui-grid" style="border:1px solid lightblue;
                         width: 100%;
                         margin: 25px 0;">
                        <div class="ui-grid-row" style="color: #000000;
                             height:40px;
                             display:flex;
                             cursor: pointer;
                             width: 100%;
                             align-items: center;
                             background-color: lightblue;
                             font-size: 18px;"
                             onclick="mudaIcone('34Icon', 'fa-angle-up', 'fa-angle-down');openDescription('34Resp')">
                            <p style="padding-left: 10px;width:100%">Como faço para tirar dúvidas sobre o AvanteWeb?</p>
                            <i class="fa fa-fw fa-angle-down" id="34Icon" style="display: block;float: right;margin-right: 10px;"></i>
                        </div>
                        <div class="ui-grid-row" style="display: none;" hidden="true" id="34Resp">
                            <p style="padding-left: 10px;width:100%">Nossa equipe de atendimento está à disposição para solucionar suas dúvidas e captar sugestões. Acesse o link do “suporte” no menu superior e clique em “solicitar suporte” ou entre em contato pelo telefone 37 3321-8186.
                                O AvanteWeb disponibiliza manuais em PDF e vídeos explicativos, com as configurações necessárias e funcionamento de todos os módulos do sistema.</p>
                        </div>
                    </div>
                    <div class="ui-grid" style="border:1px solid lightblue;
                         width: 100%;
                         margin: 25px 0;">
                        <div class="ui-grid-row" style="color: #000000;
                             height:40px;
                             display:flex;
                             cursor: pointer;
                             width: 100%;
                             align-items: center;
                             background-color: lightblue;
                             font-size: 18px;"
                             onclick="mudaIcone('35Icon', 'fa-angle-up', 'fa-angle-down');openDescription('35Resp')">
                            <p style="padding-left: 10px;width:100%">Como funciona o suporte?</p>
                            <i class="fa fa-fw fa-angle-down" id="35Icon" style="display: block;float: right;margin-right: 10px;"></i>
                        </div>
                        <div class="ui-grid-row" style="display: none;" hidden="true" id="35Resp">
                            <p style="padding-left: 10px;width:100%">O AvanteWeb disponibiliza a plataforma EAD que contém manuais e vídeos explicativos, com as configurações necessárias e funcionamento de todos os módulos do sistema. 
                                Nossa equipe de suporte está preparada para tirar todas as suas dúvidas e lhe auxiliar nas configurações necessárias.
                                Você poderá abrir um chamado com suas dúvidas ou problemas através do login que deve ser realizado em “solicitar suporte”, que está disponível em nosso site ou através dos nossos telefones de contato. O horário de atendimento é no período comercial.</p>
                        </div>
                    </div>
                    <div class="ui-grid" style="border:1px solid lightblue;
                         width: 100%;
                         margin: 25px 0;">
                        <div class="ui-grid-row" style="color: #000000;
                             height:40px;
                             display:flex;
                             cursor: pointer;
                             width: 100%;
                             align-items: center;
                             background-color: lightblue;
                             font-size: 18px;"
                             onclick="mudaIcone('36Icon', 'fa-angle-up', 'fa-angle-down');openDescription('36Resp')">
                            <p style="padding-left: 10px;width:100%">Existe algum custo de instalação?</p>
                            <i class="fa fa-fw fa-angle-down" id="36Icon" style="display: block;float: right;margin-right: 10px;"></i>
                        </div>
                        <div class="ui-grid-row" style="display: none;" hidden="true" id="36Resp">
                            <p style="padding-left: 10px;width:100%">Não há custo de instalação. Você assina o contrato referente ao plano, cria seu login e senha e já pode acessar sua conta. Será cobrada apenas a mensalidade após a assinatura do contrato.
                                As configurações do sistema são feitas por você com auxílio de nossos manuais e vídeos explicativos. Poderá também contar com nosso suporte gratuito para lhe auxiliar em suas dúvidas através de abertura de chamados através do nosso site avantetech.com.br.</p>
                        </div>
                    </div>
                    <div class="ui-grid" style="border:1px solid lightblue;
                         width: 100%;
                         margin: 25px 0;">
                        <div class="ui-grid-row" style="color: #000000;
                             height:40px;
                             display:flex;
                             cursor: pointer;
                             width: 100%;
                             align-items: center;
                             background-color: lightblue;
                             font-size: 18px;"
                             onclick="mudaIcone('37Icon', 'fa-angle-up', 'fa-angle-down');openDescription('37Resp')">
                            <p style="padding-left: 10px;width:100%">Possui módulo offline?</p>
                            <i class="fa fa-fw fa-angle-down" id="37Icon" style="display: block;float: right;margin-right: 10px;"></i>
                        </div>
                        <div class="ui-grid-row" style="display: none;" hidden="true" id="37Resp">
                            <p style="padding-left: 10px;width:100%">Não, o AvanteWeb não possui módulo offline, só é possível, o acesso a conta, através de um navegador com internet ativa, tanto em computadores, quanto em smartphones. </p>
                        </div>
                    </div>
                    <div class="ui-grid" style="border:1px solid lightblue;
                         width: 100%;
                         margin: 25px 0;">
                        <div class="ui-grid-row" style="color: #000000;
                             height:40px;
                             display:flex;
                             cursor: pointer;
                             width: 100%;
                             align-items: center;
                             background-color: lightblue;
                             font-size: 18px;"
                             onclick="mudaIcone('38Icon', 'fa-angle-up', 'fa-angle-down');openDescription('38Resp')">
                            <p style="padding-left: 10px;width:100%">Qual a configuração mínima para utilização do sistema?</p>
                            <i class="fa fa-fw fa-angle-down" id="38Icon" style="display: block;float: right;margin-right: 10px;"></i>
                        </div>
                        <div class="ui-grid-row" style="display: none;" hidden="true" id="38Resp">
                            <p style="padding-left: 10px;width:100%">O sistema pode ser acessado de qualquer dispositivo com internet, Desktop, Tablets e Celulares. O AvanteWeb é aceitável a diferentes tamanhos de telas. Recomendamos que possua uma boa conexão de internet. Mantenha seu dispositivo atualizado e com um anti-vírus.</p>
                        </div>
                    </div>
                    <div class="ui-grid" style="border:1px solid lightblue;
                         width: 100%;
                         margin: 25px 0;">
                        <div class="ui-grid-row" style="color: #000000;
                             height:40px;
                             display:flex;
                             cursor: pointer;
                             width: 100%;
                             align-items: center;
                             background-color: lightblue;
                             font-size: 18px;"
                             onclick="mudaIcone('39Icon', 'fa-angle-up', 'fa-angle-down');openDescription('39Resp')">
                            <p style="padding-left: 10px;width:100%">Como funciona o armazenamento dos meus dados?</p>
                            <i class="fa fa-fw fa-angle-down" id="39Icon" style="display: block;float: right;margin-right: 10px;"></i>
                        </div>
                        <div class="ui-grid-row" style="display: none;" hidden="true" id="39Resp">
                            <p style="padding-left: 10px;width:100%">O armazenamento de dados no AvanteWeb é em nuvem, no qual os dados são armazenados em servidores que poderão ser acessados de qualquer lugar no mundo, a qualquer hora. Mantemos os nossos servidores em datacenters avançados (Amazon), com alta disponibilidade e com mecanismos de backups diários.</p>
                        </div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-g-12 ui-md-12 ui-lg-12" style="display:flex;
                             flex-direction: column;
                             text-align: center;
                             justify-content: center;margin:0;">
                            <h2 style="text-align: left">FAQ - DÚVIDAS FREQUENTES</h2>
                            <h4 style="text-align: left;margin-top:0;">Dúvidas de Âmbito Fiscal</h4>
                        </div>
                    </div>
                    <p:separator/>
                    <div class="ui-grid" style="border:1px solid lightblue;
                         width: 100%;
                         margin: 25px 0;">
                        <div class="ui-grid-row" style="color: #000000;
                             height:40px;
                             display:flex;
                             cursor: pointer;
                             width: 100%;
                             align-items: center;
                             background-color: lightblue;
                             font-size: 18px;"
                             onclick="mudaIcone('1Icon', 'fa-angle-up', 'fa-angle-down');openDescription('1Resp')">
                            <p style="padding-left: 10px;width:100%">O que é a NF-e?</p>
                            <i class="fa fa-fw fa-angle-down" id="1Icon" style="display: block;float: right;margin-right: 10px;"></i>
                        </div>
                        <div class="ui-grid-row" style="display: none;" hidden="true" id="1Resp">
                            <p style="padding-left: 10px;width:100%">A NF-e é um documento digital que substitui o antigo modelo 1 e 1A.(Podemos conceituar a Nota Fiscal Eletrônica como sendo um documento de existência apenas digital, emitido e armazenado eletronicamente, com o intuito de documentar, para fins fiscais, uma operação de circulação de mercadorias ou uma prestação de serviços, ocorrida entre as partes. Sua validade jurídica é garantida pela assinatura digital do remetente (garantia de autoria e de integridade) e a Autorização de uso fornecida pelo Fisco, antes da ocorrência do fato gerador.Fonte: Portal NFe)</p>
                        </div>
                    </div>
                    <div class="ui-grid" style="border:1px solid lightblue;
                         width: 100%;
                         margin: 25px 0;">
                        <div class="ui-grid-row" style="color: #000000;
                             height:40px;
                             display:flex;
                             cursor: pointer;
                             width: 100%;
                             align-items: center;
                             background-color: lightblue;
                             font-size: 18px;"
                             onclick="mudaIcone('2Icon', 'fa-angle-up', 'fa-angle-down');openDescription('2Resp')">
                            <p style="padding-left: 10px;width:100%">O que preciso ter para emitir uma NF-e em minha empresa? </p>
                            <i class="fa fa-fw fa-angle-down" id="2Icon" style="display: block;float: right;margin-right: 10px;"></i>
                        </div>
                        <div class="ui-grid-row" style="display: none;" hidden="true" id="2Resp">
                            <p style="padding-left: 10px;width:100%">Certificado Digital, acesso à internet, ter uma inscrição estadual válida e ativa, possuir credenciamento na Sefaz do estado de origem e adquirir um Emissor NF-e de qualidade.</p>
                        </div>
                    </div>
                    <div class="ui-grid" style="border:1px solid lightblue;
                         width: 100%;
                         margin: 25px 0;">
                        <div class="ui-grid-row" style="color: #000000;
                             height:40px;
                             display:flex;
                             cursor: pointer;
                             width: 100%;
                             align-items: center;
                             background-color: lightblue;
                             font-size: 18px;"
                             onclick="mudaIcone('3Icon', 'fa-angle-up', 'fa-angle-down');openDescription('3Resp')">
                            <p style="padding-left: 10px;width:100%">Vou precisar de contador para emitir a NF-e?</p>
                            <i class="fa fa-fw fa-angle-down" id="3Icon" style="display: block;float: right;margin-right: 10px;"></i>
                        </div>
                        <div class="ui-grid-row" style="display: none;" hidden="true" id="3Resp">
                            <p style="padding-left: 10px;width:100%">O contador é essencial (desde a abertura da empresa, até o credenciamento e ajuda com impostos e guia de tributos).</p>
                        </div>
                    </div>
                    <div class="ui-grid" style="border:1px solid lightblue;
                         width: 100%;
                         margin: 25px 0;">
                        <div class="ui-grid-row" style="color: #000000;
                             height:40px;
                             display:flex;
                             cursor: pointer;
                             width: 100%;
                             align-items: center;
                             background-color: lightblue;
                             font-size: 18px;"
                             onclick="mudaIcone('4Icon', 'fa-angle-up', 'fa-angle-down');openDescription('4Resp')">
                            <p style="padding-left: 10px;width:100%">O que é a DANFE? </p>
                            <i class="fa fa-fw fa-angle-down" id="4Icon" style="display: block;float: right;margin-right: 10px;"></i>
                        </div>
                        <div class="ui-grid-row" style="display: none;" hidden="true" id="4Resp">
                            <p style="padding-left: 10px;width:100%">A DANFE é a representação fiel da NF-e impressa. Assim sendo, ela tem que acompanhar o transporte da mercadoria, afim de identificar o produto que está sendo transportado.</p>
                        </div>
                    </div>
                    <div class="ui-grid" style="border:1px solid lightblue;
                         width: 100%;
                         margin: 25px 0;">
                        <div class="ui-grid-row" style="color: #000000;
                             height:40px;
                             display:flex;
                             cursor: pointer;
                             width: 100%;
                             align-items: center;
                             background-color: lightblue;
                             font-size: 18px;"
                             onclick="mudaIcone('5Icon', 'fa-angle-up', 'fa-angle-down');openDescription('5Resp')">
                            <p style="padding-left: 10px;width:100%">O que é XML?</p>
                            <i class="fa fa-fw fa-angle-down" id="5Icon" style="display: block;float: right;margin-right: 10px;"></i>
                        </div>
                        <div class="ui-grid-row" style="display: none;" hidden="true" id="5Resp">
                            <p style="padding-left: 10px;width:100%">O XML é um arquivo de computador que representa a Nota Fiscal Eletrônica. Ele é gerado ao final quando uma NF-e é autorizada pelo governo.</p>
                        </div>
                    </div>
                    <div class="ui-grid" style="border:1px solid lightblue;
                         width: 100%;
                         margin: 25px 0;">
                        <div class="ui-grid-row" style="color: #000000;
                             height:40px;
                             display:flex;
                             cursor: pointer;
                             width: 100%;
                             align-items: center;
                             background-color: lightblue;
                             font-size: 18px;"
                             onclick="mudaIcone('6Icon', 'fa-angle-up', 'fa-angle-down');openDescription('6Resp')">
                            <p style="padding-left: 10px;width:100%">Preciso de CNPJ para emitir NF-e?</p>
                            <i class="fa fa-fw fa-angle-down" id="6Icon" style="display: block;float: right;margin-right: 10px;"></i>
                        </div>
                        <div class="ui-grid-row" style="display: none;" hidden="true" id="6Resp">
                            <p style="padding-left: 10px;width:100%">Sim, o CNPJ é necessário para emissão de qualquer documento fiscal eletrônico.</p>
                        </div>
                    </div>
                    <div class="ui-grid" style="border:1px solid lightblue;
                         width: 100%;
                         margin: 25px 0;">
                        <div class="ui-grid-row" style="color: #000000;
                             height:40px;
                             display:flex;
                             cursor: pointer;
                             width: 100%;
                             align-items: center;
                             background-color: lightblue;
                             font-size: 18px;"
                             onclick="mudaIcone('7Icon', 'fa-angle-up', 'fa-angle-down');openDescription('7Resp')">
                            <p style="padding-left: 10px;width:100%">Preciso de IE (Inscrição Estadual) para emitir NF-e?</p>
                            <i class="fa fa-fw fa-angle-down" id="7Icon" style="display: block;float: right;margin-right: 10px;"></i>
                        </div>
                        <div class="ui-grid-row" style="display: none;" hidden="true" id="7Resp">
                            <p style="padding-left: 10px;width:100%">Sim, a IE é necessária para emissão de qualquer documento fiscal eletrônico.</p>
                        </div>
                    </div>
                    <div class="ui-grid" style="border:1px solid lightblue;
                         width: 100%;
                         margin: 25px 0;">
                        <div class="ui-grid-row" style="color: #000000;
                             height:40px;
                             display:flex;
                             cursor: pointer;
                             width: 100%;
                             align-items: center;
                             background-color: lightblue;
                             font-size: 18px;"
                             onclick="mudaIcone('8Icon', 'fa-angle-up', 'fa-angle-down');openDescription('8Resp')">
                            <p style="padding-left: 10px;width:100%">A NF-e funciona em celular, tablet, PC e qualquer Sistema Operacional? </p>
                            <i class="fa fa-fw fa-angle-down" id="8Icon" style="display: block;float: right;margin-right: 10px;"></i>
                        </div>
                        <div class="ui-grid-row" style="display: none;" hidden="true" id="8Resp">
                            <p style="padding-left: 10px;width:100%">Isso depende de cada sistema disponibilizado. Com o AvanteWEB o funcionamento também é MOBILE.</p>
                        </div>
                    </div>
                    <div class="ui-grid" style="border:1px solid lightblue;
                         width: 100%;
                         margin: 25px 0;">
                        <div class="ui-grid-row" style="color: #000000;
                             height:40px;
                             display:flex;
                             cursor: pointer;
                             width: 100%;
                             align-items: center;
                             background-color: lightblue;
                             font-size: 18px;"
                             onclick="mudaIcone('9Icon', 'fa-angle-up', 'fa-angle-down');openDescription('9Resp')">
                            <p style="padding-left: 10px;width:100%">Qual é o modelo de documento fiscal da NF-e? </p>
                            <i class="fa fa-fw fa-angle-down" id="9Icon" style="display: block;float: right;margin-right: 10px;"></i>
                        </div>
                        <div class="ui-grid-row" style="display: none;" hidden="true" id="9Resp">
                            <p style="padding-left: 10px;width:100%">A NF-e é identificada como modelo 55.</p>
                        </div>
                    </div>
                    <div class="ui-grid" style="border:1px solid lightblue;
                         width: 100%;
                         margin: 25px 0;">
                        <div class="ui-grid-row" style="color: #000000;
                             height:40px;
                             display:flex;
                             cursor: pointer;
                             width: 100%;
                             align-items: center;
                             background-color: lightblue;
                             font-size: 18px;"
                             onclick="mudaIcone('10Icon', 'fa-angle-up', 'fa-angle-down');openDescription('10Resp')">
                            <p style="padding-left: 10px;width:100%">E as NF’s que eu emitia no antigo Emissor NFe, poderei reaproveitá-las?</p>
                            <i class="fa fa-fw fa-angle-down" id="10Icon" style="display: block;float: right;margin-right: 10px;"></i>
                        </div>
                        <div class="ui-grid-row" style="display: none;" hidden="true" id="10Resp">
                            <p style="padding-left: 10px;width:100%">Com certeza. Se você tiver o arquivo XML, nosso sistema converte tais informações, evitando redigitações e tempo desperdiçado.</p>
                        </div>
                    </div>
                    <div class="ui-grid" style="border:1px solid lightblue;
                         width: 100%;
                         margin: 25px 0;">
                        <div class="ui-grid-row" style="color: #000000;
                             height:40px;
                             display:flex;
                             cursor: pointer;
                             width: 100%;
                             align-items: center;
                             background-color: lightblue;
                             font-size: 18px;"
                             onclick="mudaIcone('11Icon', 'fa-angle-up', 'fa-angle-down');openDescription('11Resp')">
                            <p style="padding-left: 10px;width:100%">Consigo emitir notas para várias empresas no sistema AvanteWEB?</p>
                            <i class="fa fa-fw fa-angle-down" id="11Icon" style="display: block;float: right;margin-right: 10px;"></i>
                        </div>
                        <div class="ui-grid-row" style="display: none;" hidden="true" id="11Resp">
                            <p style="padding-left: 10px;width:100%">Sim, com certeza. Tudo isso será ensinado na plataforma do AvanteEAD.</p>
                        </div>
                    </div>
                    <div class="ui-grid" style="border:1px solid lightblue;
                         width: 100%;
                         margin: 25px 0;">
                        <div class="ui-grid-row" style="color: #000000;
                             height:40px;
                             display:flex;
                             cursor: pointer;
                             width: 100%;
                             align-items: center;
                             background-color: lightblue;
                             font-size: 18px;"
                             onclick="mudaIcone('12Icon', 'fa-angle-up', 'fa-angle-down');openDescription('12Resp')">
                            <p style="padding-left: 10px;width:100%">O que é a Nota Fiscal de Consumidor Eletrônica - NFC-e?</p>
                            <i class="fa fa-fw fa-angle-down" id="12Icon" style="display: block;float: right;margin-right: 10px;"></i>
                        </div>
                        <div class="ui-grid-row" style="display: none;" hidden="true" id="12Resp">
                            <p style="padding-left: 10px;width:100%">É um documento de existência apenas digital, emitido e armazenado eletronicamente, com o intuito de documentar as operações comerciais de venda presencial ou venda para entrega em domicilio ao consumidor final (pessoa física ou jurídica) em operação interna e sem geração de crédito de ICMS ao adquirente.</p>
                        </div>
                    </div>
                    <div class="ui-grid" style="border:1px solid lightblue;
                         width: 100%;
                         margin: 25px 0;">
                        <div class="ui-grid-row" style="color: #000000;
                             height:40px;
                             display:flex;
                             cursor: pointer;
                             width: 100%;
                             align-items: center;
                             background-color: lightblue;
                             font-size: 18px;"
                             onclick="mudaIcone('13Icon', 'fa-angle-up', 'fa-angle-down');openDescription('13Resp')">
                            <p style="padding-left: 10px;width:100%">Quais são as vantagens do uso NFC-e para o Empresário?</p>
                            <i class="fa fa-fw fa-angle-down" id="13Icon" style="display: block;float: right;margin-right: 10px;"></i>
                        </div>
                        <div class="ui-grid-row" style="display: none;" hidden="true" id="13Resp">
                            <p style="padding-left: 10px;width:100%">
                                <ul>
                                    <li>Dispensa de homologação do software pelo Fisco;</li>
                                    <li>Simplificação de obrigações acessórias (dispensa de impressão de Redução Z e Leitura X, Mapa Resumo, Lacres, Revalidação, Comunicação de ocorrências, Cessação, etc.);</li>
                                    <li>Dispensa da figura do interventor técnico;</li>
                                    <li>Uso de papel não certificado, com menor requisito de tempo de guarda;</li>
                                    <li>Transmissão em tempo real ou on-line da NFC-e;</li>
                                    <li>Redução significativa dos gastos com papel;</li>
                                    <li>Flexibilidade de expansão de PDV;</li>
                                    <li>Apelo ecológico;</li>
                                    <li>Integração de plataformas de vendas físicas e virtuais.</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                    <div class="ui-grid" style="border:1px solid lightblue;
                         width: 100%;
                         margin: 25px 0;">
                        <div class="ui-grid-row" style="color: #000000;
                             height:40px;
                             display:flex;
                             cursor: pointer;
                             width: 100%;
                             align-items: center;
                             background-color: lightblue;
                             font-size: 18px;"
                             onclick="mudaIcone('14Icon', 'fa-angle-up', 'fa-angle-down');openDescription('14Resp')">
                            <p style="padding-left: 10px;width:100%">Qual é o modelo de documento fiscal da NFC-e? </p>
                            <i class="fa fa-fw fa-angle-down" id="14Icon" style="display: block;float: right;margin-right: 10px;"></i>
                        </div>
                        <div class="ui-grid-row" style="display: none;" hidden="true" id="14Resp">
                            <p style="padding-left: 10px;width:100%">A NFC-e é identificada como modelo 65.</p>
                        </div>
                    </div>
                    <div class="ui-grid" style="border:1px solid lightblue;
                         width: 100%;
                         margin: 25px 0;">
                        <div class="ui-grid-row" style="color: #000000;
                             height:40px;
                             display:flex;
                             cursor: pointer;
                             width: 100%;
                             align-items: center;
                             background-color: lightblue;
                             font-size: 18px;"
                             onclick="mudaIcone('15Icon', 'fa-angle-up', 'fa-angle-down');openDescription('15Resp')">
                            <p style="padding-left: 10px;width:100%">Como o consumidor poderá consultar a nota fiscal emitida? </p>
                            <i class="fa fa-fw fa-angle-down" id="15Icon" style="display: block;float: right;margin-right: 10px;"></i>
                        </div>
                        <div class="ui-grid-row" style="display: none;" hidden="true" id="15Resp">
                            <p style="padding-left: 10px;width:100%">Acessando o site www.nfce.go.gov.br onde, com a chave de acesso, poderá visualizar a sua nota fiscal. Também é permitido a consulta através do leitor de QR-Code com um smartphone ou outro aparelho que possua leitor compatível.</p>
                        </div>
                    </div>
                    <div class="ui-grid" style="border:1px solid lightblue;
                         width: 100%;
                         margin: 25px 0;">
                        <div class="ui-grid-row" style="color: #000000;
                             height:40px;
                             display:flex;
                             cursor: pointer;
                             width: 100%;
                             align-items: center;
                             background-color: lightblue;
                             font-size: 18px;"
                             onclick="mudaIcone('16Icon', 'fa-angle-up', 'fa-angle-down');openDescription('16Resp')">
                            <p style="padding-left: 10px;width:100%">O que é o Manifesto Eletrônico de Documentos Fiscais? </p>
                            <i class="fa fa-fw fa-angle-down" id="16Icon" style="display: block;float: right;margin-right: 10px;"></i>
                        </div>
                        <div class="ui-grid-row" style="display: none;" hidden="true" id="16Resp">
                            <p style="padding-left: 10px;width:100%">Documento emitido e armazenado eletronicamente, de existência apenas digital, para vincular os documentos fiscais transportados na unidade de carga utilizada, cuja validade jurídica é garantida pela assinatura digital do emitente e autorização de uso pelo Ambiente Autorizador.</p>
                        </div>
                    </div>
                    <div class="ui-grid" style="border:1px solid lightblue;
                         width: 100%;
                         margin: 25px 0;">
                        <div class="ui-grid-row" style="color: #000000;
                             height:40px;
                             display:flex;
                             cursor: pointer;
                             width: 100%;
                             align-items: center;
                             background-color: lightblue;
                             font-size: 18px;"
                             onclick="mudaIcone('17Icon', 'fa-angle-up', 'fa-angle-down');openDescription('17Resp')">
                            <p style="padding-left: 10px;width:100%">Qual é a finalidade do MDF-e?</p>
                            <i class="fa fa-fw fa-angle-down" id="17Icon" style="display: block;float: right;margin-right: 10px;"></i>
                        </div>
                        <div class="ui-grid-row" style="display: none;" hidden="true" id="17Resp">
                            <p style="padding-left: 10px;width:100%">
                                <ul>
                                    <li>Consolidar as informações sobre as cargas acobertadas por vários CT-e ou NF-e transportados em um mesmo veículo de carga;</li>
                                    <li>Proporcionar maior agilidade ao registro em lote dos documentos fiscais que estão sendo transportados;</li>
                                    <li>Permitir a identificação do responsável pelo transporte a cada trecho durante o percurso;</li>
                                    <li>Registrar as alterações/substituições das unidades de transporte ou de carga e seus condutores;</li>
                                    <li>Registrar o início e fim de cada operação de transporte, e permitir o rastreamento da circulação física da carga;</li>
                                    <li>Facilitar e agilizar o trabalho nos postos de fiscalização.</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                    <div class="ui-grid" style="border:1px solid lightblue;
                         width: 100%;
                         margin: 25px 0;">
                        <div class="ui-grid-row" style="color: #000000;
                             height:40px;
                             display:flex;
                             cursor: pointer;
                             width: 100%;
                             align-items: center;
                             background-color: lightblue;
                             font-size: 18px;"
                             onclick="mudaIcone('18Icon', 'fa-angle-up', 'fa-angle-down');openDescription('18Resp')">
                            <p style="padding-left: 10px;width:100%">Qual é o modelo de documento fiscal do MDF-e? </p>
                            <i class="fa fa-fw fa-angle-down" id="18Icon" style="display: block;float: right;margin-right: 10px;"></i>
                        </div>
                        <div class="ui-grid-row" style="display: none;" hidden="true" id="18Resp">
                            <p style="padding-left: 10px;width:100%">O MDF-e é identificado como modelo 58.</p>
                        </div>
                    </div>
                    <div class="ui-grid" style="border:1px solid lightblue;
                         width: 100%;
                         margin: 25px 0;">
                        <div class="ui-grid-row" style="color: #000000;
                             height:40px;
                             display:flex;
                             cursor: pointer;
                             width: 100%;
                             align-items: center;
                             background-color: lightblue;
                             font-size: 18px;"
                             onclick="mudaIcone('19Icon', 'fa-angle-up', 'fa-angle-down');openDescription('19Resp')">
                            <p style="padding-left: 10px;width:100%">O que é o Conhecimento de Transporte Eletrônico - CT-e?</p>
                            <i class="fa fa-fw fa-angle-down" id="19Icon" style="display: block;float: right;margin-right: 10px;"></i>
                        </div>
                        <div class="ui-grid-row" style="display: none;" hidden="true" id="19Resp">
                            <p style="padding-left: 10px;width:100%">Documento de existência apenas digital, emitido e armazenado eletronicamente, com o intuito de documentar, para fins fiscais, uma prestação de serviço de transporte de cargas realizada por qualquer modal (Rodoviário, Aéreo, Ferroviário, Aquaviário e Dutoviário). Sua validade jurídica é garantida pela assinatura digital do emitente (garantia de autoria e de integridade) e pela recepção e autorização de uso, pelo Fisco.</p>
                        </div>
                    </div>
                    <div class="ui-grid" style="border:1px solid lightblue;
                         width: 100%;
                         margin: 25px 0;">
                        <div class="ui-grid-row" style="color: #000000;
                             height:40px;
                             display:flex;
                             cursor: pointer;
                             width: 100%;
                             align-items: center;
                             background-color: lightblue;
                             font-size: 18px;"
                             onclick="mudaIcone('20Icon', 'fa-angle-up', 'fa-angle-down');openDescription('20Resp')">
                            <p style="padding-left: 10px;width:100%">Quais os procedimentos para que uma empresa interessada possa passar a emitir CT-e?</p>
                            <i class="fa fa-fw fa-angle-down" id="20Icon" style="display: block;float: right;margin-right: 10px;"></i>
                        </div>
                        <div class="ui-grid-row" style="display: none;" hidden="true" id="20Resp">
                            <p style="padding-left: 10px;width:100%">
                                <ul>
                                    <li>As empresas interessadas em emitir CT-e deverão, em resumo: Estar credenciada para emitir CT-e junto à Secretaria da Fazenda do Estado em que está estabelecida. O credenciamento em uma Unidade da Federação não credencia a empresa perante as demais Unidades, ou seja, a empresa deve solicitar credenciamento em todos os Estados em que possuir estabelecimentos e nos quais deseja emitir CT-e;</li>
                                    <li>Possuir certificado digital (emitido por Autoridade Certificadora credenciado ao ICP-BR) contendo o CNPJ da empresa;</li>
                                    <li>Possuir acesso à internet;</li>
                                    <li>Adaptar o seu sistema de faturamento para emitir o CT-e ou utilizar o "Emissor de CT-e", para os casos de empresa de pequeno porte (modais rodoviários e aquaviários);</li>
                                    <li>Testar seus sistemas em ambiente de homologação em todas as Secretarias da Fazenda em que desejar emitir CT-e;</li>
                                    <li>Obter a autorização da Secretaria da Fazenda para emissão de CT-e em ambiente de produção (CT-e com validade jurídica).</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                    <div class="ui-grid" style="border:1px solid lightblue;
                         width: 100%;
                         margin: 25px 0;">
                        <div class="ui-grid-row" style="color: #000000;
                             height:40px;
                             display:flex;
                             cursor: pointer;
                             width: 100%;
                             align-items: center;
                             background-color: lightblue;
                             font-size: 18px;"
                             onclick="mudaIcone('21Icon', 'fa-angle-up', 'fa-angle-down');openDescription('21Resp')">
                            <p style="padding-left: 10px;width:100%">Qual é o modelo de documento fiscal do CT-e?</p>
                            <i class="fa fa-fw fa-angle-down" id="21Icon" style="display: block;float: right;margin-right: 10px;"></i>
                        </div>
                        <div class="ui-grid-row" style="display: none;" hidden="true" id="21Resp">
                            <p style="padding-left: 10px;width:100%">O CT-e é identificado como modelo 57.</p>
                        </div>
                    </div>
                    <div class="ui-grid" style="border:1px solid lightblue;
                         width: 100%;
                         margin: 25px 0;">
                        <div class="ui-grid-row" style="color: #000000;
                             height:40px;
                             display:flex;
                             cursor: pointer;
                             width: 100%;
                             align-items: center;
                             background-color: lightblue;
                             font-size: 18px;"
                             onclick="mudaIcone('22Icon', 'fa-angle-up', 'fa-angle-down');openDescription('22Resp')">
                            <p style="padding-left: 10px;width:100%">O que é o arquivo Sintegra? Poderei gerar o mesmo no software AvanteWeb?</p>
                            <i class="fa fa-fw fa-angle-down" id="22Icon" style="display: block;float: right;margin-right: 10px;"></i>
                        </div>
                        <div class="ui-grid-row" style="display: none;" hidden="true" id="22Resp">
                            <p style="padding-left: 10px;width:100%">Sistema Integrado de Informações sobre Operações Interestaduais com Mercadorias e Serviços.
                                É um arquivo digital, pois são gerados através de um sistema computacional de processamento de informações e armazenados/enviados de forma digital. O Sintegra tem a função de informar a secretaria da fazenda (SEFAZ), todas as movimentações de entradas de notas fiscais e saída de notas fiscais da sua empresa, ele é o responsável por informar ao governo se você está ou não cumprindo com as obrigações legais de sua empresa.
                                Sim. É possível gerar o arquivo Sintegra através do AvanteWeb.</p>
                        </div>
                    </div>
                    <div class="ui-grid" style="border:1px solid lightblue;
                         width: 100%;
                         margin: 25px 0;">
                        <div class="ui-grid-row" style="color: #000000;
                             height:40px;
                             display:flex;
                             cursor: pointer;
                             width: 100%;
                             align-items: center;
                             background-color: lightblue;
                             font-size: 18px;"
                             onclick="mudaIcone('23Icon', 'fa-angle-up', 'fa-angle-down');openDescription('23Resp')">
                            <p style="padding-left: 10px;width:100%">É possível enviar por e-mail os documentos fiscais emitidos?</p>
                            <i class="fa fa-fw fa-angle-down" id="23Icon" style="display: block;float: right;margin-right: 10px;"></i>
                        </div>
                        <div class="ui-grid-row" style="display: none;" hidden="true" id="23Resp">
                            <p style="padding-left: 10px;width:100%">Sim. Com o AvanteWeb é possível salvar enviar NF-e automaticamente para o e-mail e os demais documentos fiscais, basta salvar o arquivo em PDF e em seguida encaminhar o mesmo por e-mail.</p>
                        </div>
                    </div>
                    <div class="ui-grid" style="border:1px solid lightblue;
                         width: 100%;
                         margin: 25px 0;">
                        <div class="ui-grid-row" style="color: #000000;
                             height:40px;
                             display:flex;
                             cursor: pointer;
                             width: 100%;
                             align-items: center;
                             background-color: lightblue;
                             font-size: 18px;"
                             onclick="mudaIcone('24Icon', 'fa-angle-up', 'fa-angle-down');openDescription('24Resp')">
                            <p style="padding-left: 10px;width:100%">Existe algum custo de adesão ou implantação do sistema ou somente é pago a mensalidade?</p>
                            <i class="fa fa-fw fa-angle-down" id="24Icon" style="display: block;float: right;margin-right: 10px;"></i>
                        </div>
                        <div class="ui-grid-row" style="display: none;" hidden="true" id="24Resp">
                            <p style="padding-left: 10px;width:100%">Não é cobrado nenhum valor de implantação, somente a mensalidade.</p>
                        </div>
                    </div>
                    <div class="ui-grid" style="border:1px solid lightblue;
                         width: 100%;
                         margin: 25px 0;">
                        <div class="ui-grid-row" style="color: #000000;
                             height:40px;
                             display:flex;
                             cursor: pointer;
                             width: 100%;
                             align-items: center;
                             background-color: lightblue;
                             font-size: 18px;"
                             onclick="mudaIcone('25Icon', 'fa-angle-up', 'fa-angle-down');openDescription('25Resp')">
                            <p style="padding-left: 10px;width:100%">O que é o CFOP e qual a sua aplicação?</p>
                            <i class="fa fa-fw fa-angle-down" id="25Icon" style="display: block;float: right;margin-right: 10px;"></i>
                        </div>
                        <div class="ui-grid-row" style="display: none;" hidden="true" id="25Resp">
                            <p style="padding-left: 10px;width:100%">É uma sigla para Código Fiscal de Operações e Prestações das entradas e saídas de mercadorias (intermunicipal e interestadual). Identifica a natureza de circulação de uma mercadoria ou a prestação de serviço de transportes. 
                                É através da tabela CFOP (a mesma pode ser consultada no software Avante WEB) que será definida se a operação fiscal terá que recolher impostos ou não. O seu código deve ser indicado obrigatoriamente em todos os documentos fiscais da empresa quando houver entradas e saídas de mercadorias, bens e aquisição de serviços. </p>
                        </div>
                    </div>
                    <div class="ui-grid" style="border:1px solid lightblue;
                         width: 100%;
                         margin: 25px 0;">
                        <div class="ui-grid-row" style="color: #000000;
                             height:40px;
                             display:flex;
                             cursor: pointer;
                             width: 100%;
                             align-items: center;
                             background-color: lightblue;
                             font-size: 18px;"
                             onclick="mudaIcone('26Icon', 'fa-angle-up', 'fa-angle-down');openDescription('26Resp')">
                            <p style="padding-left: 10px;width:100%">Pode haver Nota fiscal com mais de um CFOP?</p>
                            <i class="fa fa-fw fa-angle-down" id="26Icon" style="display: block;float: right;margin-right: 10px;"></i>
                        </div>
                        <div class="ui-grid-row" style="display: none;" hidden="true" id="26Resp">
                            <p style="padding-left: 10px;width:100%">Sim. A mesma nota fiscal pode conter mais de um CFOP desde que eles sejam da mesma natureza.</p>
                        </div>
                    </div>
                    <div class="ui-grid" style="border:1px solid lightblue;
                         width: 100%;
                         margin: 25px 0;">
                        <div class="ui-grid-row" style="color: #000000;
                             height:40px;
                             display:flex;
                             cursor: pointer;
                             width: 100%;
                             align-items: center;
                             background-color: lightblue;
                             font-size: 18px;"
                             onclick="mudaIcone('27Icon', 'fa-angle-up', 'fa-angle-down');openDescription('27Resp')">
                            <p style="padding-left: 10px;width:100%">O que é o CEST?</p>
                            <i class="fa fa-fw fa-angle-down" id="27Icon" style="display: block;float: right;margin-right: 10px;"></i>
                        </div>
                        <div class="ui-grid-row" style="display: none;" hidden="true" id="27Resp">
                            <p style="padding-left: 10px;width:100%">É uma sigla para Código Especificador da Substituição Tributária. O objetivo é estabelecer uma forma de uniformizar e identificar as mercadorias e bens passíveis de sujeição ao regime de substituição tributária e de antecipação de recolhimento do ICMS com o encerramento de tributação, relativos às operações subsequentes. 
                                Em resumo o CEST é um novo código no qual constará nos produtos sujeitos a substituição tributária.
                            </p>
                        </div>
                    </div>
                    <div class="ui-grid" style="border:1px solid lightblue;
                         width: 100%;
                         margin: 25px 0;">
                        <div class="ui-grid-row" style="color: #000000;
                             height:40px;
                             display:flex;
                             cursor: pointer;
                             width: 100%;
                             align-items: center;
                             background-color: lightblue;
                             font-size: 18px;"
                             onclick="mudaIcone('28Icon', 'fa-angle-up', 'fa-angle-down');openDescription('28Resp')">
                            <p style="padding-left: 10px;width:100%">O que é o ICMS?</p>
                            <i class="fa fa-fw fa-angle-down" id="28Icon" style="display: block;float: right;margin-right: 10px;"></i>
                        </div>
                        <div class="ui-grid-row" style="display: none;" hidden="true" id="28Resp">
                            <p style="padding-left: 10px;width:100%">É uma sigla para Imposto sobre Operações relativas à Circulação de Mercadorias e sobre Prestações de Serviços de Transporte Interestadual e Intermunicipal e de Comunicação. É um tributo que incide sobre a movimentação de mercadorias em geral, o que inclui produtos dos mais variados segmentos como eletrodomésticos, alimentos, cosméticos, e sobre serviços de transporte interestadual e intermunicipal e de comunicação.</p>
                        </div>
                    </div>
                    <div class="ui-grid" style="border:1px solid lightblue;
                         width: 100%;
                         margin: 25px 0;">
                        <div class="ui-grid-row" style="color: #000000;
                             height:40px;
                             display:flex;
                             cursor: pointer;
                             width: 100%;
                             align-items: center;
                             background-color: lightblue;
                             font-size: 18px;"
                             onclick="mudaIcone('29Icon', 'fa-angle-up', 'fa-angle-down');openDescription('29Resp')">
                            <p style="padding-left: 10px;width:100%">O que é o CST ICMS?</p>
                            <i class="fa fa-fw fa-angle-down" id="29Icon" style="display: block;float: right;margin-right: 10px;"></i>
                        </div>
                        <div class="ui-grid-row" style="display: none;" hidden="true" id="29Resp">
                            <p style="padding-left: 10px;width:100%">O Código da Situação Tributária (CST) é o valor que identifica a origem da mercadoria e a forma de tributação que deverá incidir sobre a mesma.
                                Na Nota Fiscal eletrônica (NF-e) modelo 55 ou na Nota Fiscal do Consumidor eletrônica (NFC-e), modelo 65, o CST é composto pelo identificador da origem mais 2 números.</p>
                        </div>
                    </div>
                    <div class="ui-grid" style="border:1px solid lightblue;
                         width: 100%;
                         margin: 25px 0;">
                        <div class="ui-grid-row" style="color: #000000;
                             height:40px;
                             display:flex;
                             cursor: pointer;
                             width: 100%;
                             align-items: center;
                             background-color: lightblue;
                             font-size: 18px;"
                             onclick="mudaIcone('30Icon', 'fa-angle-up', 'fa-angle-down');openDescription('30Resp')">
                            <p style="padding-left: 10px;width:100%">O que é o ICMS ST?</p>
                            <i class="fa fa-fw fa-angle-down" id="30Icon" style="display: block;float: right;margin-right: 10px;"></i>
                        </div>
                        <div class="ui-grid-row" style="display: none;" hidden="true" id="30Resp">
                            <p style="padding-left: 10px;width:100%">A Substituição Tributária (ST) é o regime pelo qual a responsabilidade pelo ICMS devido em relação às operações ou prestações de serviços é atribuída a outro contribuinte.</p>
                        </div>
                    </div>
                    <div class="ui-grid" style="border:1px solid lightblue;
                         width: 100%;
                         margin: 25px 0;">
                        <div class="ui-grid-row" style="color: #000000;
                             height:40px;
                             display:flex;
                             cursor: pointer;
                             width: 100%;
                             align-items: center;
                             background-color: lightblue;
                             font-size: 18px;"
                             onclick="mudaIcone('31Icon', 'fa-angle-up', 'fa-angle-down');openDescription('31Resp')">
                            <p style="padding-left: 10px;width:100%">O que é o PIS/COFINS?</p>
                            <i class="fa fa-fw fa-angle-down" id="31Icon" style="display: block;float: right;margin-right: 10px;"></i>
                        </div>
                        <div class="ui-grid-row" style="display: none;" hidden="true" id="31Resp">
                            <p style="padding-left: 10px;width:100%">Programas de Integração Social (PIS) e Contribuição para Financiamento da Seguridade Social (COFINS). PIS e COFINS são tributos que costumam andar acompanhados, mas é preciso destacar que se tratam de dois tributos diferentes.
                                Os contribuintes do PIS e da COFINS são as pessoas jurídicas de direito privado em geral, inclusive as pessoas a elas equiparadas pela legislação do Imposto de Renda, exceto as microempresas e as empresas de pequeno porte submetidas ao regime do Simples Nacional.</p>
                        </div>
                    </div>
                    <div class="ui-grid" style="border:1px solid lightblue;
                         width: 100%;
                         margin: 25px 0;">
                        <div class="ui-grid-row" style="color: #000000;
                             height:40px;
                             display:flex;
                             cursor: pointer;
                             width: 100%;
                             align-items: center;
                             background-color: lightblue;
                             font-size: 18px;"
                             onclick="mudaIcone('32Icon', 'fa-angle-up', 'fa-angle-down');openDescription('32Resp')">
                            <p style="padding-left: 10px;width:100%">O que é Natureza de Operação?</p>
                            <i class="fa fa-fw fa-angle-down" id="32Icon" style="display: block;float: right;margin-right: 10px;"></i>
                        </div>
                        <div class="ui-grid-row" style="display: none;" hidden="true" id="32Resp">
                            <p style="padding-left: 10px;width:100%">A Natureza de Operação é qual operação fiscal será realizada com o produto. Ou seja, ela diz se o produto inserido na nota é relativo a uma venda, compra, troca, remessa em consignação ou outros.</p>
                        </div>
                    </div>
                    <div class="ui-grid" style="border:1px solid lightblue;
                         width: 100%;
                         margin: 25px 0;">
                        <div class="ui-grid-row" style="color: #000000;
                             height:40px;
                             display:flex;
                             cursor: pointer;
                             width: 100%;
                             align-items: center;
                             background-color: lightblue;
                             font-size: 18px;"
                             onclick="mudaIcone('33Icon', 'fa-angle-up', 'fa-angle-down');openDescription('33Resp')">
                            <p style="padding-left: 10px;width:100%">O que é a Nota Série D? </p>
                            <i class="fa fa-fw fa-angle-down" id="33Icon" style="display: block;float: right;margin-right: 10px;"></i>
                        </div>
                        <div class="ui-grid-row" style="display: none;" hidden="true" id="33Resp">
                            <p style="padding-left: 10px;width:100%">Conhecida como “Nota de Balcão”, é o documento fiscal que o contribuinte do ICMS irá emitir para cobrir as operações ou as prestações de serviços que realizar, sujeitas à incidência de tal imposto.
                                No AvanteWeb é possível realizar o cadastro e consulta da nota série D.</p>
                        </div>
                    </div>
                </div>
                <div class="ui-grid" style="height:max-content;width:100%;margin-top:70px;margin-bottom: 30px;">
                    <div class="ui-grid-row" style="display:flex;align-items: center;justify-content: center;width:100%;">
                        <a class="clicavel" href="http://avantetech.com.br/" style="font-size: 15px;text-decoration: none;">
                            http://avantetech.com.br/
                        </a>
                    </div> 
                    <div class="ui-grid-row" style="margin-top: 10px;display: flex;align-items: center;justify-content: center;width: 100%;">
                        <a class="clicavel" href="https://www.instagram.com/avantesolucoesdigitais/">
                            <i class="fa fa-fw fa-instagram" style="font-size: 25px;"></i>
                        </a>
                        <a class="clicavel" href="#">
                            <i class="fa fa-fw fa-whatsapp" style="font-size: 25px;"></i>
                        </a>
                        <a class="clicavel" href="https://www.facebook.com/avantesolucoesdigitais/">
                            <i class="fa fa-fw fa-facebook-official" style="font-size: 25px;"></i>
                        </a>
                    </div>
                </div>
            </div>
            <p:dialog widgetVar="sucessoEnvio" resizable="false" draggable="false" modal="true"
                      showEffect="fade" hideEffect="fold" id="sucessoEnvio" position="center" width="250" dynamic="true">
                <div style="width: border-box;height: max-content;">
                    <i class="fa fa-fw fa-check-circle-o" style="color: green;font-size: 32px;"></i>
                </div>
                <div style="width: border-box;text-align: center;padding:20px;">
                    <h3>Sugestão enviada com sucesso!</h3>
                    A Equipe AvanteWeb agradece sua colaboração.
                    <p:commandButton action="#{sugestao.fechaDialogSucesso()}" immediate="true">FECHAR</p:commandButton>
                </div>

            </p:dialog>
        </ui:define>
    </ui:composition>
</html>