<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template/barcelona/templateExterno.xhtml">
        <ui:define name="title">Sugestão - EAD</ui:define>
        <ui:define name="content">
            <div class="layout-containercontent">
                <div class="ui-grid" style="padding-left: 10px;">
                    <div class="ui-g-12 ui-md-12 ui-lg-12 layout-containersprincipais" style="display:flex;
                         flex-direction: column;
                         text-align: center;
                         justify-content: center;">
                        <h2 style="text-align: left">SUGESTÕES</h2>
                        <div>
                            <p:separator />
                        </div>
                        <p>O AvanteWeb está em constante evolução e contamos com sua ajuda para tal fato ocorrer.
                            Deseja fazer alguma sugestão para a Equipe Avante Web?</p>
                        <h4>Preencha o formulário abaixo para que registremos a sua sugestão:</h4>
                        <h:panelGrid columns="1" cellspacing="20" style="text-align: center;margin-top:10px;">
                            <p:outputLabel for="@next" value="NOME DA EMPRESA:"/>
                            <p:inputText style="width:800px;margin-bottom: 20px;" value="#{sugestao.nomeEmpresa}" />
                            <p:outputLabel for="@next" value="TIPO DE SUGESTÃO:"/>
                            <p:selectOneMenu id="console" value="#{sugestao.tipoSugestao}" style="width:800px;margin-bottom: 20px;">
                                <f:selectItem itemLabel="" itemValue="" />
                                <f:selectItem itemLabel="DESENVOLVIMENTO" itemValue="DESENVOLVIMENTO" />
                                <f:selectItem itemLabel="ALTERAÇÃO" itemValue="ALTERAÇÃO" />
                                <f:selectItem itemLabel="VÍDEO" itemValue="VÍDEO" />
                                <f:selectItem itemLabel="MANUAL" itemValue="MANUAL" />
                            </p:selectOneMenu>
                            <p:outputLabel for="@next" value="DIGITE SUA SUGESTÃO:"/>
                            <p:inputTextarea autoResize="false" value="#{sugestao.textoSugestao}" style="width: 800px;height: 200px;margin-bottom: 20px;" />
                            <p:commandButton value="Enviar" id="enviarSugestao" icon="fa fa-fw fa-send" action="#{sugestao.gravar()}" style="background-color: #6CBF87;margin-bottom:20px;width:150px;" />
                        </h:panelGrid>
                        <h4 style="font-weight: normal;margin-bottom: 0px;">Com o intuito de melhorarmos cada dia mais, elaboramos um questionário de satisfação a respeito do AvanteWEB.</h4>
                        <h3>Você poderia nos dar seu <span style="font-style: italic">feedback</span>?</h3>
                        <a href="https://docs.google.com/forms/d/e/1FAIpQLSffZVCDTOx2OdpE4eepnnq8Wlmua_JGyeNfK6pcGgeMmfWRJg/viewform" target="_blank" style="margin-bottom: 20px;">Questionário de satisfação</a>
                    </div>
                </div>
                <div class="ui-grid" style="height:max-content;width:100%;margin-top:70px;margin-bottom: 30px;">
                    <div class="ui-grid-row" style="display:flex;align-items: center;justify-content: center;width:100%;">
                        <a class="clicavel" href="http://avantetech.com.br/" style="font-size: 15px;text-decoration: none;">
                            http://avantetech.com.br/
                        </a>
                    </div> 
                    <div class="ui-grid-row" style="margin-top: 10px;display: flex;align-items: center;justify-content: center;width: 100%;">
                        <a class="clicavel" href="https://www.instagram.com/avantesolucoesdigitais/">
                            <i class="fa fa-fw fa-instagram" style="font-size: 25px;"></i>
                        </a>
                        <a class="clicavel" href="#">
                            <i class="fa fa-fw fa-whatsapp" style="font-size: 25px;"></i>
                        </a>
                        <a class="clicavel" href="https://www.facebook.com/avantesolucoesdigitais/">
                            <i class="fa fa-fw fa-facebook-official" style="font-size: 25px;"></i>
                        </a>
                    </div>
                </div>
            </div>
            <p:dialog widgetVar="sucessoEnvio" resizable="false" draggable="false" modal="true"
                      showEffect="fade" hideEffect="fold" id="sucessoEnvio" position="center" width="250" dynamic="true">
                <div style="width: border-box;height: max-content;">
                    <i class="fa fa-fw fa-check-circle-o" style="color: green;font-size: 32px;"></i>
                </div>
                <div style="width: border-box;text-align: center;padding:20px;">
                    <h3>Sugestão enviada com sucesso!</h3>
                    A Equipe AvanteWeb agradece sua colaboração.
                    <p:commandButton action="#{sugestao.fechaDialogSucesso()}" immediate="true">FECHAR</p:commandButton>
                </div>

            </p:dialog>
        </ui:define>
    </ui:composition>
</html>